@charset "utf-8";


.login_html {min-width:auto ; height: 100%;  background:url(../img/login_bg.jpg) no-repeat center top;}

.login {text-align:center;}
.login h1 {padding-top:140px;}
.login .ex {margin-top:30px; line-height:47px; font-size:22px; color:#fff;}
.login .ex_c {line-height:50px; padding-top:200px; font-size:22px; color:#fff;}
.login_box {width:824px; margin:80px auto; padding-bottom:50px; *zoom:1;}
.login_box:after {display:block; clear:both; content:"";}
.login_box.box_ex {width:450px; margin-top:77px;}
.login_box section {width:300px; height:430px; padding:0 50px; border-radius:3px; background:url(../img/login_opacity.png);}
.login_box.box_ex section {width:350px; height:395px; padding:35px 50px 0;}
.login_box .center {float:left;}
.login_box .trainer {float:right;}
.login_box h2 {padding-top:25px; line-height:70px; font-size:20px; font-weight:normal; color:#fff;}
.login_box p {margin-top:11px; background:url(../img/login_opacity.png);}
.login_box.box_ex p {margin-top:15px;}

.login_box .center p {position:relative; height:60px; padding-left:56px; *zoom:1;}
.login_box .center p:after {display:block; clear:both; content:"";}
.login_box .center p i {position:absolute; left:0; top:0; width:56px; height:100%; font-size:0; text-indent:-9999px;}
.login_box .center p input {float:left; width:234px; height:60px; line-height:60px\9; padding:0 5px; font-size:14px; color:#fff; vertical-align:middle; border:0; background:none;}
.login_box.box_ex p input {width:284px;}
.login_box .id i {background:url(../img/login_id.png) no-repeat 20px center;}

.login_box .c_num i {background:url(../img/login_id.png) no-repeat 20px center;}
.login_box .email i {background:url(../img/login_email.png) no-repeat 20px center;}
.login_box .name i {background:url(../img/login_name.png) no-repeat 20px center;}


.login_box .pw i {background:url(../img/login_pw.png) no-repeat 20px center;}

.login_box .center p.on input {background-position:0 -9999px;}
.login_box .save_id {line-height:46px; text-align:left; font-size:13px;}
.login_box .save_id input {margin-right:3px;}
.login_box .save_id label,
.login_box .save_id i,
.login_box .save_id a {font-style:normal; color:#fff; opacity:0.5; filter:alpha(opacity=50);}
.login_box .save_id i {padding:0 4px; font-style:normal;}
.login_box .save_id a:hover {text-decoration:underline;}
.login_box .login_btn {width:100%; margin-top:20px; height:60px; font-size:16px; font-weight:bold; color:#fff; background:#2196f3; border:0; border-radius:2px; cursor:pointer;}
.login_box.box_ex .login_btn {margin-top:60px;}

.login_box .trainer a {display:block; height:60px; line-height:58px; font-size:14px; color:#fff;}
.login_box .trainer a i {display:inline-block; width:20px; height:20px; margin:20px 10px 0 0; line-height:0; font-size:0; text-indent:-9999px; vertical-align:top;}
.login_box .fbook i {background:url(../img/login_facebook.png) no-repeat;}
.login_box .kakao i {background:url(../img/login_kakao.png) no-repeat;}


.independent {width:350px; margin:80px auto; padding:70px 50px 50px; border-radius:3px; background:url(../img/login_opacity.png);}
.independent .txt p {padding-top:29px; line-height:26px; font-size:16px; text-decoration:underline; color:#fff;}
.independent .btn {margin-top:55px; *zoom:1;}
.independent .btn:after {display:block; clear:both; content:"";}
.independent .btn a {display:block; width:170px; height:60px; line-height:58px; text-align:center; font-size:15px; font-weight:bold; color:#fff; background:#2196f3; border-radius:2px; cursor:pointer;}
.independent .data_edit {float:left;}
.independent .change {float:right;}