@charset "utf-8";

html { height: 100%;}
/* basic */
*, html, body {margin:0; padding:0; font-family:'mgfont'; letter-spacing:-0.03em;}
div, table, th, td, p, span, form, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, img, iframe, a, header, footer, aside, section, article, nav, hr, strong {margin:0; padding:0; border:0; vertical-align:top;}
header, footer, aside, section, article, nav {display:block}
div, table, th, td {border-collapse:collapse;}
input, button {vertical-align:middle;}
img {border:0; vertical-align:top;}
button {margin:0; padding:0; border:0; background:none;}
ul, ol, li {list-style:none;}
a {text-decoration:none;}
caption, .hide {position:absolute; top:-9999px; display:block; width:0; height:0; margin:0; padding:0; line-height:0; font-size:0; text-indent:-9999px;}
html {min-width:1024px; overflow-y:scroll;}
* {-webkit-text-size-adjust:none}/* 아이폰 가로모드 글자크기 조정 */
/*
@media all and (max-width:768px) {
	*, html, body {font-family:Dotum;}
}
*/


/* font */
@font-face{
	font-family:"mgfont";
	src:url('../font/malgun.eot');
	src:url('../font/malgun.eot?#iefix') format('embedded-opentype'),
	url('../font/malgun.woff') format('woff'),
	url('../font/malgun.ttf') format('truetype');
	src:local(※), url('../font/malgun.woff') format('woff');
}


/* common */
.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}

.lft {float:left;}
.rgt {float:right;}
.both {float:none; clear:both;}

/* common date-piker */
.datepk_wrap {position:relative; display:inline-block; vertical-align:top;}
.datepk_btn {position:absolute; right:0; top:0; display:block; width:30px; height:100%; overflow:hidden;}
.datepk_btn img {position:absolute; left:50%; top:50%; margin:-30px 0 0 -30px;}

/* common layout */
.d_body {padding:85px 0 25px 155px; background:#f2f2f2;}
#header {position:relative; z-index:10;}
#header h1 {position:fixed; left:0; top:0; z-index:1;}
#header h1 a {display:block; width:130px; height:60px; line-height:0; font-size:0; text-indent:-9999px; background:url(../img/logo.gif) no-repeat;}
#header h2 {position:fixed; left:155px; top:0; line-height:59px; padding-left:33px; font-size:20px; color:#555; background:url(../img/s_tit_bg.gif) no-repeat left center;}
#header .gnb {position:fixed; left:0; top:0; width:130px; height:100%; background:url(../img/gnb_bg.gif) repeat-y;}
#header .gnb ul {margin-top:80px;}
#header .gnb li a {display:block; line-height:20px; padding:15px 0 15px; text-align:center; font-size:13px; color:#999ea2;}
#header .gnb li i {display:block; width:60px; height:34px; margin:0 auto 7px; background-position:0 -34px;}
#header .gnb li.on a {text-decoration:underline; color:#fff;}
#header .gnb li.on i {background-position:0 0;}
#header .gnb01 i {background:url(../img/gnb01.png) no-repeat;}
#header .gnb02 i {background:url(../img/gnb02.png) no-repeat;}
#header .gnb03 i {background:url(../img/gnb03.png) no-repeat;}
#header .gnb04 i {background:url(../img/gnb04.png) no-repeat;}
#header .gnb05 i {background:url(../img/gnb05.png) no-repeat;}
#header .gnb06,
#header .gnb07,
#header .gnb08 {position:absolute; left:-9999px; top:-9999px;}
#header .lnb {position:fixed; left:0; top:0; width:100%; height:59px; border-bottom:1px solid #dedede; background:#fff;}
#header .lnb a {cursor:pointer;}
#header .lnb ul {float:right; margin-right:25px; *zoom:1;}
#header .lnb ul:after {display:block; clear:both; content:"";}
#header .lnb li {float:left; line-height:59px;}
#header .lnb .report a,
#header .lnb .reserv a {position:relative; display:block; width:53px; height:59px; line-height:0; font-size:0; text-indent:-9999px;}
#header .lnb .report a {background:url(../img/lnb_bell.png) no-repeat;}
#header .lnb .reserv a {background:url(../img/lnb_cal.png) no-repeat;}
#header .lnb li.on a {background-position:0 -59px;}
#header .lnb .count {position:absolute; left:27px; top:13px; width:18px; height:18px; line-height:18px; text-align:center; text-indent:0; font-size:11px; color:#fff; background:#ff7043; border-radius:10px;}
#header .lnb .report .count {background:#ffb300;}
#header .lnb .center {padding-left:20px; font-size:13px; color:#555;}
#header .lnb .setting {display:inline-block; width:30px; height:30px; margin:15px 0 0 10px; line-height:0; font-size:0; text-indent:-9999px; background:url(../img/lnb_setting.gif) no-repeat;}
#header .lnb .center.on .setting {background-position:0 -30px;}
#header aside {position:fixed; left:0; bottom:15px; width:130px;}
#header aside a {display:block; line-height:26px; margin:5px 15px 0; font-size:12px; text-align:center; letter-spacing:-1px; color:#95999e; border-radius:2px; background:#434b53;}

/* header 레이어 공통 */
.hd_layer {display:none;  z-index:10; }

/* 알림 팝업 */
.report_layer {position:fixed; width:340px; min-height:200px; max-height:450px; left:100%; top:85px; background:#fff; border:1px solid #29b6f6; overflow-y:auto;}
.report_layer .btn {line-height:40px; padding:0 15px; text-align:right; font-size:0; color:#777; background:#f5f9fb;}
.report_layer .btn * {font-size:13px;}
.report_layer .btn a {cursor:pointer;}
.report_layer .btn a:first-child {font-weight:bold; color:#2196f3;}
.report_layer .btn span {padding:0 5px; color:#e6e6e6;}
.report_layer .lst li {position:relative; padding:10px 45px 13px 18px; border-top:1px solid #e6e6e6;}
.report_layer .lst li:first-child {border:0;}
.report_layer .lst .date {line-height:16px; font-size:12px;}
.report_layer .lst .con {line-height:18px; padding-top:5px; font-size:13px;}
.report_layer .lst .del {position:absolute; right:0; top:21px; width:50px; height:40px; line-height:0; font-size:0; text-indent:-9999px; background:url(../img/del01.gif) no-repeat center center; cursor:pointer;}
.report_layer .read .date {color:#bababa;}
.report_layer .read .con {color:#999;}
.report_layer .not_read .date {color:#2196f3;}
.report_layer .not_read .con {font-weight:bold; color:#777;}


/* 예약 리스트 팝업 */
.reserv_layer {position:fixed; left:100%; top:85px;}
.reserv_layer {width:842px; height:540px; background:#f2f2f2; border:1px solid #29b6f6;}
.reserv_layer .in {padding:23px 19px 24px 24px;}
.reserv_layer .tit {line-height:30px; margin-right:18px; *zoom:1;}
.reserv_layer .tit:after {display:block; clear:both; content:"";}
.reserv_layer .tit p {float:left; font-size:16px; font-weight:bold; color:#555;}
.reserv_layer .tit a {float:right; display:block; height:28px; line-height:26px; padding:0 12px; font-size:13px; color:#2196f3; font-weight:bold; border:1px solid #2196f3; border-radius:2px; background:#fff;}
.reserv_layer ul {*zoom:1;}
.reserv_layer ul:after {display:block; clear:both; content:"";}
.reserv_layer ul li {float:left; position:relative; z-index:1; text-align:center; width:99px; min-height:30px; line-height:15px; padding:12px 0; font-size:13px; background:#fff;}
.reserv_layer ul li:first-child {width:82px;}
.reserv_layer ul li.on {z-index:2;}
.reserv_layer ul li b {display:block; height:15px; font-weight:normal; font-size:12px;}
.reserv_layer ul li span {display:block; height:15px; font-size:13px;}
.reserv_layer .lst_hd {margin-top:14px;}
.reserv_layer .lst_hd li {color:#fff; background:#5e646b; border-left:1px solid #8f9398;}
.reserv_layer .lst_hd li:first-child {background:#29b6f6; border:0;}
.reserv_layer .lst_hd li:first-child+li {border:0;}
.reserv_layer .lst_hd li.on {background:#29b6f6;}
.reserv_layer .lst_bd {height:395px; overflow-y:scroll;}
.reserv_layer .lst_bd ul {}
.reserv_layer .lst_bd li {border:1px solid #e6e6e6; border-right:0; border-bottom:0;}
.reserv_layer .lst_bd li:first-child {color:#fff; background:#ffc107; border-left:0; border-top-color:#ffe083;}
.reserv_layer .lst_bd li:first-child+li {border-left:0;}
.reserv_layer .lst_bd li.on {background:#edf9ff;}
.reserv_layer .lst_bd ul:first-child li {border-top:0;}
.reserv_layer .time13 li:first-child,
.reserv_layer .time14 li:first-child,
.reserv_layer .time15 li:first-child,
.reserv_layer .time16 li:first-child,
.reserv_layer .time17 li:first-child,
.reserv_layer .time18 li:first-child {background:#cddc39;}
.reserv_layer .time14 li:first-child,
.reserv_layer .time15 li:first-child,
.reserv_layer .time16 li:first-child,
.reserv_layer .time17 li:first-child,
.reserv_layer .time18 li:first-child {background:#cddc39; border-top-color:#e6ee9c;}
.reserv_layer .lst_bd  li:first-child i {position:absolute; left:0; top:50%; width:100%; line-height:20px; margin-top:-10px; font-style:normal;}
.reserv_layer .lst_bd .reserb {margin-top:7px; cursor:pointer;}
.reserv_layer .lst_bd .reserb:first-child {margin:0;}
.reserv_layer .lst_bd .reserb b {font-size:14px; font-weight:bold;; color:#555;}
.reserv_layer .lst_bd .reserb span {margin-top:2px; font-size:12px; color:#2196f3;}
.reserv_layer .line i {position:absolute; background:#29b6f6;}
.reserv_layer .line i:first-child {left:-1px; top:0; width:1px; height:100%;}
.reserv_layer .line i:first-child+i {right:-1px; top:0; width:1px; height:100%;}
.reserv_layer .bd_last i:first-child+i+i {left:0; bottom:0; width:100%; height:1px;}


/* 설정 팝업 */
.setting_layer {position:fixed; left:100%; top:85px; background:#fff; border:1px solid #29b6f6;}
.setting_layer {width:300px; padding:20px;}
.setting_layer .info {position:relative; height:130px; margin-bottom:8px; padding:0 0 0 146px;}
.setting_layer .info .thum {position:absolute; left:0; top:0;}
.setting_layer .info .name {padding-top:20px; line-height:20px; font-size:16px; letter-spacing:-0.1em; font-weight:bold; color:#555;}
.setting_layer .info .date {margin-top:8px; line-height:14px; font-size:12px; color:#999;}
.setting_layer .info .date span {display:block;}
.setting_layer .info .revise {position:absolute; right:0; bottom:0; width:152px; height:24px; line-height:22px; text-align:center; font-size:12px; color:#fff; background:#7c8fa0; border-radius:2px; cursor:pointer;}
.setting_layer .info .logout {position:absolute; right:-10px; top:-9px; width:52px; height:20px; line-height:18px; text-align:center; font-size:12px; letter-spacing:-0.1em; color:#999; border:1px solid #cacaca; cursor:pointer;}
.setting_layer dl {padding-top:10px;}
.setting_layer dt {line-height:40px; font-size:13px; font-weight:bold; color:#2196f3;}
.setting_layer dd > p {position:relative; padding:0 0 0 101px; *zoom:1;}
.setting_layer dd > p:after {display:block; clear:both; content:"";}
.setting_layer dd .lb {position:absolute; left:0; top:0; line-height:30px; letter-spacing:-0.1em; font-size:12px; font-weight:bold; color:#555;}
.setting_layer .radio {display:block; line-height:28px; padding-bottom:6px; }
.setting_layer .radio label {font-size:12px; color:#555;}
.setting_layer input[type="text"] {float:left; width:177px; height:28px; line-height:28px; margin-bottom:5px; padding:0 10px; font-size:12px; color:#555; border:1px solid #dedede; border-radius:1px;}
.setting_layer input.mail {width:75px;}
.setting_layer select {float:right; width:97px; height:30px; vertical-align:middle;}

.setting_layer .t_up {*zoom:1;}
.setting_layer .t_up:after {display:block; clear:both; content:"";}
.setting_layer .t_up li {float:left; width:50%;}
.setting_layer .t_up li p {width:144px; height:28px; line-height:27px; text-align:right; border:1px solid #e7e7e7; border-radius:1px;}
.setting_layer .t_up .lf p {margin-right:3px;}
.setting_layer .t_up .rg p {margin-left:3px;}
.setting_layer .t_up input[type="text"] {width:90px; border:0; background:none;}
.setting_layer .t_up i {padding-right:8px; font-style:normal; font-size:12px; color:#555;}
.setting_layer .t_up .height p {background:url(../img/t_up_height.gif) no-repeat;}
.setting_layer .t_up .weight p {background:url(../img/t_up_weight.gif) no-repeat;}
.setting_layer .t_up .waist_c p,
.setting_layer .t_up .waist_i p {background:url(../img/t_up_waist.gif) no-repeat;}
.setting_layer .t_up .hip p {background:url(../img/t_up_hip.gif) no-repeat;}



.setting_layer .submit {width:100%; height:50px; line-height:50px; margin-top:13px; font-size:15px; color:#fff; background:#405466; border:0; border-radius:2px;}


/* container */
#container {position:relative; z-index:1;}

.main_con {width:859px; *zoom:1;}
.main_con:after {display:block; clear:both; content:"";}
.main_con article {position:relative; float:left; margin:15px 15px 0 0; border:1px solid #ccc; background:#fff;}
.main_con article > h2 {display:inline-block; line-height:28px; padding:18px 0 0 20px; font-size:16px; letter-spacing:-0.07em; color:#555;}

.main_con .ma_pt_count {width:459px; height:148px; margin-top:0; border:0; background:none; *zoom:1;}  /* 완료 / 예약 / 취소 */
.ma_pt_count:after {display:block; clear:both; content:"";}
.ma_pt_count > div {float:left; width:146px; height:148px; margin-left:10px; color:#fff;}
.ma_pt_count > div:first-child {margin:0;}
.ma_pt_count .comp {background:#ffc107;}
.ma_pt_count .reserv {background:#00bfa5;}
.ma_pt_count .cancel {background:#ff7043;}
.ma_pt_count h2 {line-height:74px; padding:0 20px; font-weight:normal; font-size:16px;}
.ma_pt_count > div > div {padding-right:22px; text-align:right;}
.ma_pt_count b {line-height:70px; font-size:32px;}
.ma_pt_count span {display:inline-block; padding:27px 0 0 2px; line-height:25px; font-size:16px;}

.main_con .ma_trainer_mb {float:right; width:368px; height:483px; margin-top:0;}  /*  트레이너별 관리회원 */
.ma_trainer_mb .num i {background:#29b6f6;}
.ma_trainer_mb .comp i {background:#ffc107;}
.ma_trainer_mb .reserv i {background:#cddc39;}
.ma_trainer_mb .ex {position:absolute; right:25px; top:18px; line-height:28px; font-size:12px; color:#999;}
.ma_trainer_mb .ex i {display:inline-block; vertical-align:top; width:5px; height:5px; margin:12px 3px 0 5px; border-radius:5px;}
.ma_trainer_mb .bx-wrapper {width:328px; margin:5px 20px 0;}
.ma_trainer_mb .bx-viewport {height:400px !important; overflow:hidden;}
.ma_trainer_mb .lst {position:relative; margin:-21px 0 0; *zoom:1;}
.ma_trainer_mb .lst:after {display:block; clear:both; content:"";}
.ma_trainer_mb .lst li {float:none; position:relative; width:248px; height:76px; margin-top:20px; padding-left:70px;}
.ma_trainer_mb .thum_box {position:absolute; left:0; top:0; text-align:center;}
.ma_trainer_mb .thun {position:relative;}
.ma_trainer_mb .mask {position:absolute; left:0; top:0; width:55px; height:55px; background:url(../img/trainer_mb_mask.png) no-repeat;}
.ma_trainer_mb .name {line-height:21px; font-size:13px; letter-spacing:-0.1em; color:#777;}
.ma_trainer_mb .chart {padding-top:11px;}
.ma_trainer_mb .chart p {margin-top:6px;}
.ma_trainer_mb .chart p:first-child {margin:0;}
.ma_trainer_mb .chart i {display:block; width:0; height:12px;}
.ma_trainer_mb .chart span {position:absolute; top:-9999px;}
.ma_trainer_mb .total {position:absolute; left:-1px; bottom:-1px; height:22px; line-height:21px; padding:0 10px 0 24px; font-size:12px; color:#777; border:1px solid #ccc; background:#fff url(../img/human01.gif) no-repeat 10px center;}
.ma_trainer_mb .bx-controls {position:absolute; right:0; bottom:0; *zoom:1;}
.ma_trainer_mb .bx-controls:after {display:block; clear:both; content:"";}
.ma_trainer_mb .bx-controls div {float:left;}
.ma_trainer_mb .bx-controls .bx-pager {line-height:23px; padding-right:10px; letter-spacing:-0.1em; font-size:12px; color:#777;}
.ma_trainer_mb .bx-controls-direction {*zoom:1;}
.ma_trainer_mb .bx-controls-direction:after {display:block; clear:both; content:"";}
.ma_trainer_mb .bx-controls-direction a {float:left; display:block; width:22px; height:22px; line-height:0; font-size:0; text-indent:-9999px; border:1px solid #ccc; border-right:0; border-bottom:0;}
.ma_trainer_mb .bx-prev {background:url(../img/bx_left.gif) no-repeat center center;}
.ma_trainer_mb .bx-next {background:url(../img/bx_right.gif) no-repeat center center;}

.main_con .ma_pt_stats {width:457px; height:320px; margin-top:15px;}  /* PT권 판매통계 */
.ma_pt_stats .pt_stats {position:relative; margin:18px 0px 0 20px; *zoom:1;}
.ma_pt_stats .pt_stats:after {display:block; clear:both; content:"";}
.ma_pt_stats .stats {float:left;}
.ma_pt_stats .ex span {display:block; line-height:20px; font-size:12px; color:#999;}
.ma_pt_stats .ex i {display:inline-block; width:5px; height:5px; margin:9px 4px 0 0; vertical-align:top; border-radius:5px;}
.ma_pt_stats .ex span:first-child i {background:#29b6f6;}
.ma_pt_stats .ex span:first-child+span i {background:#ffc107;}
.ma_pt_stats .count {margin-top:20px;}
.ma_pt_stats .count p {margin-top:6px; width:93px; padding:5px 0 4px; border:1px solid #dedede; border-radius:2px;}
.ma_pt_stats .count p:first-child {margin:0;}
.ma_pt_stats .count span {display:block; line-height:19px; padding:0 8px; font-size:12px; color:#999;}
.ma_pt_stats .count b {display:block; line-height:23px; padding:0 8px; font-size:14px; text-align:right; color:#555;}
.ma_pt_stats .chart {float:right;}
.ma_pt_stats .tab {position:absolute; right:20px; top:-40px; *zoom:1;} 
.ma_pt_stats .tab:after {display:block; clear:both; content:"";}
.ma_pt_stats .tab li {float:left; width:35px; height:22px; line-height:21px; margin-right:5px; text-align:center; font-size:12px; color:#888; border-radius:2px; background:#eaeaea; cursor:pointer;}
.ma_pt_stats .tab li.on {color:#fff; background:#7c8fa0;}
.ma_pt_stats .chart_box > div {width:325px; height:240px;}
.ma_pt_stats .chart_box tspan {color:#f00;}
.ma_pt_stats .amcharts-chart-div > a{display:none !important;}
.ma_pt_stats .amcharts-chart-div > svg g[visibility="visible"] path {stroke-dasharray:2,6;}
.ma_pt_stats .amcharts-chart-div > svg g + g + g + g + g + g + g + g + g > path {display:none;}

.main_con .ma_membership {width:326px; height:340px; text-align:center; border:0; background:#cddc39 url(../img/membership.png) no-repeat center 100px;}  /* 현재회원수 */
.main_con .ma_membership h2 {line-height:108px; padding:0; font-size:20px; color:#fff;}
.ma_membership div {padding-top:107px; color:#fff;}
.ma_membership b {line-height:37px; font-size:32px; letter-spacing:0;}
.ma_membership span {display:inline-block; padding:10px 0 0 2px; font-size:18px;}

.main_con .ma_sex_diagram {width:501px; height:338px; overflow:hidden;}  /* 성별 & 연령별 분포도 */
.ma_sex_diagram .sex_diagram {position:relative; margin:0 0 0 20px; *zoom:1;}
.ma_sex_diagram .sex_diagram:after {display:block; clear:both; content:"";}
.ma_sex_diagram .sex {position:absolute; left:0; top:47px; width:195px;}
.ma_sex_diagram .sex_chart ul {position:relative; z-index:2; height:148px; margin-left:25px; *zoom:1;}
.ma_sex_diagram .sex_chart ul:after {display:block; clear:both; content:"";}
.ma_sex_diagram .sex_chart li {position:absolute; bottom:0; width:40px; height:0; text-align:center; overflow:hidden;}
.ma_sex_diagram .sex_chart li span {position:absolute; left:0; bottom:0; width:100%; line-height:33px; font-size:13px; color:#fff;}
.ma_sex_diagram .sex_chart li.man {left:0; background:#29b6f6;}
.ma_sex_diagram .sex_chart li.woman {left:47px; background:#ffc107;}
.ma_sex_diagram .sex_chart .num {position:absolute; left:25px; top:0; z-index:1; line-height:33px; padding-top:115px; font-size:0;}
.ma_sex_diagram .sex_chart .num span {display:inline-block; width:40px; margin-right:7px; text-align:center; font-size:13px;}
.ma_sex_diagram .sex_chart .num .man {color:#29b6f6;}
.ma_sex_diagram .sex_chart .num .woman {color:#ffc107;}
.ma_sex_diagram .sex_chart .ex {position:absolute; left:132px; top:40px;}
.ma_sex_diagram .sex_chart .ex span {display:block; line-height:22px; font-size:13px; color:#777;}
.ma_sex_diagram .sex_chart .ex i {display:inline-block; vertical-align:top; width:7px; height:7px; margin:8px 5px 0 0; border-radius:7px; background:#ffc107;}
.ma_sex_diagram .sex_chart .ex span:first-child i {background:#29b6f6;}
.ma_sex_diagram .age {float:right; width:300px; margin:-79px -7px 0 0;}
.ma_sex_diagram .age #age_chart {width:100%; height:400px;}
.ma_sex_diagram .amChartsLegend {left:205px !important;}
.ma_sex_diagram .tit {position:absolute; left:322px; top:230px; width:53px; height:24px; line-height:22px; text-align:center; letter-spacing:-0.1em; font-size:14px; color:#777; border:1px solid #dedede; border-radius: 2px; background:#fff;}
.ma_sex_diagram .tit:first-child {left:89px;}

.main_con .ma_age_diagram {width:842px; height:348px;}  /* 연령별 분포도 */
.ma_age_diagram .age_diagram {margin:0 0 20px 0; *zoom:1;}
.ma_age_diagram .age_diagram:after {display:block; clear:both; content:"";}
.ma_age_diagram dl {position:relative; float:left; width:33.333%; margin-top:40px; padding-bottom:45px;}
.ma_age_diagram dl dt {position:absolute; left:50%; bottom:0; width:58px; height:24px; line-height:22px; margin-left:-40px; text-align:center; font-size:14px; color:#777; border:1px solid #dedede; border-radius:2px; background:#fff;}
.ma_age_diagram dl dd {padding:0 10px;}
.ma_age_diagram dl p {position:relative; margin:6px 30px 0 32px; height:15; line-height:14px;}
.ma_age_diagram .tt {position:absolute; left:-32px; top:0; font-size:14px; letter-spacing:-1px; font-weight:normal; color:#ffc107;}
.ma_age_diagram dl p:first-child .tt {color:#29b6f6;}
.ma_age_diagram .bar {display:block; height:15px; width:100%; background:#eee; background:#ffc107;}
.ma_age_diagram dl p:first-child .bar {background:#29b6f6;}
.ma_age_diagram .percent {position:absolute; top:0; padding-left:8px; font-size:14px; font-weight:bold; color:#555;}

.notice {position:absolute; left:859px; top:0; width:303px; border:1px solid #ccc; background:#fff;}
/*.notice {position:absolute; left:1019px;  width:303px; border:1px solid #ccc; background:#fff;}*/
.notice .info {line-height:40px; padding-left:35px; font-size:13px; color:#777; background:#fafafa url(../img/nitice_icon.gif) no-repeat 15px center;}
.notice .info b {color:#00a1e4;}
.notice .lst {padding:0 20px 20px;}
.notice .lst li {margin-top:25px;}
.notice .lst li:first-child {margin-top:20px;}
.notice .lst li * {letter-spacing:-0.1em;}
.notice .lst .date {line-height:16px; font-size:13px; color:#999;}
.notice .lst .subj {line-height:24px; margin-top:10px; font-size:16px; font-weight:bold; color:#555;}
.notice .lst .subj span {display:none;}
.notice .lst .con {line-height:22px; margin-top:8px; font-size:14px; color:#777;}
.notice .lst .img {margin-top:14px;}
.notice .lst .img img {width:100%; height:auto;}
.notice .lst .notice_view {display:block; line-height:35px; margin-top:14px; text-align:center; font-size:13px; color:#29b6f6; border:1px solid #29b6f6; border-radius:2px; cursor:pointer;}
@media all and (max-width:1340px) {
	.notice {position:relative; left:0; top:0; width:842px; margin-bottom:15px;}
	.notice .lst {padding:0;}
	.notice .lst li {position:relative; margin:0; border-top:1px solid #e6e6e6;}
	.notice .lst li:first-child {margin:0;}
	.notice .lst .subj {line-height:45px; margin:0; font-size:14px;}
	.notice .lst .subj span {display:inline; padding:0 10px 0 17px; font-weight:normal;}
	.notice .lst .date {position:absolute; right:100px; top:0; line-height:45px;}
	.notice .lst .notice_view {position:absolute; right:10px; top:9px; width:78px; line-height:25px; margin:0;}
	.notice .lst .con,
	.notice .lst .img {display:none;}
}

.notice_layer {display:none; position:fixed; left:0; top:0; z-index:999; width:100%; height:100%; background:url(../img/layer_bg.png);}
.notice_layer dl {position:absolute; left:155px; top:0; width:844px; height:800px; margin-top:85px; background:#f2f2f2; overflow-y:auto;}
.notice_layer dt {position:relative; height:26px; line-height:25px; margin:25px 25px 16px;}
.notice_layer dt i {display:inline-block; width:26px; height:26px; font-size:0; text-indent:-999px; background:url(../img/notice_icon.png) no-repeat; vertical-align:top;}
.notice_layer .subj {font-size:16px; font-weight:bold; color:#555;}
.notice_layer .date {position:absolute; right:0; top:0; font-size:14px; color:#777;}
.notice_layer dd {margin:0 25px 25px; padding:25px; background:#fff;}
.notice_layer .close {position:fixed; left:956px; top:22px; width:43px; height:43px; font-size:0; text-indent:-9999px; background:url(../img/layer_close.png) no-repeat; cursor:pointer;}