@charset "utf-8";


/* common */
	#ly_close {display:none; position:fixed; left:0; top:0; z-index:999; width:100%; height:100%; background:#000;}
	#container.sub {width:843px;}
	.paging {padding:30px 0; text-align:center; font-size:0;}
	.paging a,
	.paging strong {display:inline-block; height:20px; line-height:18px; margin:0 5px; padding:0 5px; font-size:14px; color:#999;}
	.paging strong {text-decoration:underline; color:#2196f3;}
	.paging .fst,
	.paging .prev,
	.paging .next,
	.paging .lst {width:20px; margin:0 1px; padding:0; font-size:0; text-indent:-999px;}
	.paging .fst		{background:url(../_img/paging_fst.gif);}
	.paging .prev	{background:url(../_img/paging_prev.gif); margin-right:10px;}
	.paging .next	{background:url(../_img/paging_next.gif); margin-left:10px;}
	.paging .lst		{background:url(../_img/paging_lst.gif);}

/* table style */
	.tb01 {width:100%; text-align:center; font-size:13px; background:#fff;}
	.tb01 th,
	.tb01 td {padding:15px; vertical-align:middle;}
	.tb01 thead {border-right:1px solid #5e646b;}
	.tb01 thead th {color:#fff;  background:#5e646b; border-left:1px solid #8f9398;}
	.tb01 thead th:first-child {border:0;}
	.tb01 tbody th {color:#555; background:#f8f8f8;}
	.tb01 tbody td {font-size:14px; color:#555;}
	.tb01 tbody th,
	.tb01 tbody td {border:1px solid #ccc;}
	.tb01 tbody tr:first-child th,
	.tb01 tbody tr:first-child td {border-top:0;}
	.tb01 .empty {padding:50px 0;}

	.tb02 {border-top:3px solid #5e646b;}
	.tb02 > div {border:1px solid #b7b9bb; border-top:0; overflow:hidden;}
	.tb02 table {width:100%; font-size:13px; color:#555;}
	.tb02 th,
	.tb02 td {padding:8px 10px; border:1px solid #dedede; border-right:0; border-bottom:0; text-align:center; vertical-align:middle;}
	.tb02 th {background:#f8f8f8;}
	.tb02 thead tr:first-child th {border-top:0;}
	.tb02 th:first-child {border-left:0;}

	.tb03 {width:100%; border:1px solid #ccc;}
	.tb03 th,
	.tb03 td {padding:10px 15px; line-height:20px; font-size:13px; border:1px solid #dedede; vertical-align:middle;}
	.tb03 th {color:#777; background:#f8f8f8;}
	.tb03 td {color:#555;}

/* common - page_tab */
	.page_tab > .tab {*zoom:1;}
	.page_tab > .tab:after {display:block; clear:both; content:"";}
	.page_tab > .tab li {float:left; position:relative; z-index:1; margin-right:-1px; border-top:4px solid #d6d6d6; background:#fff;}
	.page_tab > .tab li.on {z-index:2; border-color:#2196f3;}
	.page_tab > .tab li a {display:block; width:158px; line-height:45px; text-align:center; font-size:14px; color:#a8a8a8; border:1px solid #e6e6e6; border-top:0; border-bottom-color:#ccc; cursor:pointer;}
	.page_tab > .tab li.on:first-child a {border-left-color:#ccc;}
	.page_tab > .tab li.on a {font-weight:bold; color:#2196f3; border-color:#ccc; border-bottom-color:#fff;}
	.page_tab > .con {min-height:500px; margin-top:-1px; padding:25px 20px 25px; border:1px solid #d6d6d6; background:#fff; *zoom:1;}
	.page_tab > .con:after {display:block; clear:both; content:"";}

/* common - form */
	.form_area input[type="password"],
	.form_area input[type="text"] {height:35px; line-height:35px\9; font-size:13px; color:#666; border:1px solid #dedede;}
	.form_area textarea {line-height:20px; font-size:13px; color:#666; border:1px solid #dedede;}
	.form_area select {height:37px; vertical-align:middle;}
	.form_area .w80 {width:60px; padding:0 10px;}
	.form_area .w100 {width:80px; padding:0 10px;}
	.form_area .w150 {width:130px; padding:0 10px;}
	.form_area .w200 {width:180px; padding:0 10px;}
	.form_area .w320 {width:300px; padding:0 10px;}


/* 회원관리 ---------------------------------------------------------------------- */
	/* 회원관리 - 회원목록 */
	.mb_lst .trainer {float:left; position:relative; width:128px; padding:49px 0 30px; border:1px solid #dedede; background:#fff;}
	.mb_lst .trainer dt {position:absolute; left:0; top:0; width:100%; line-height:40px; text-indent:14px; font-size:13px; color:#444; background:#f7f7f7;}
	.mb_lst .trainer dt i {font-style:normal;}
	.mb_lst .trainer dd {line-height:24px; padding:0 14px; font-size:13px; letter-spacing:-0.07em;}
	.mb_lst .trainer dd a {color:#777; cursor:pointer;}
	.mb_lst .trainer dd a:hover {text-decoration:underline;}
	.mb_lst .trainer dd a.on {font-weight:bold; color:#2196f3; text-decoration:underline;}

	.mb_lst .member {float:right; width:651px;}
	.mb_top {*zoom:1;}
	.mb_top:after {display:block; clear:both; content:"";}
	.mb_top .total {float:left; line-height:40px; padding-top:3px; font-size:13px; color:#777;}
	.mb_top .total b {color:#2196f3;}
	.mb_top .search {float:right; width:178px; height:33px; border:1px solid #dedede; *zoom:1;}
	.mb_top .search:after {display:block; clear:both; content:"";}
	.mb_top .search .sch {float:left; width:130px; height:33px; line-height:33px; padding-left:10px; font-size:14px; color:#666; background:#fff; border:0;}
	.mb_top .search .scb {float:right; display:inline-block; width:38px; height:33px; line-height:0; font-size:0; text-indent:-9999px; background:url(../_img/search_btn.png) no-repeat center 7px; border:0;}

	.mb_lst .tb01 {table-layout:fixed;}
	.mb_lst .tb01 a {color:#555;}
	.mb_lst .tb01 a:hover {text-decoration:underline; color:#2196f3;}
	/*
	.mb_lst .lst_box * {vertical-align:top; margin:0; padding:0;}
	.mb_lst .lst_box ul {*zoom:1;}
	.mb_lst .lst_box ul:after {display:block; clear:both; content:"";}
	.mb_lst .lst_box ul > li {float:left; width:25%; text-align:center;}
	.mb_lst .lst_box ul > li p {height:45px; line-height:43px;}
	.mb_lst .lst_box .lst_hd {font-size:13px; font-weight:bold; color:#fff; background:#5e646b;}
	.mb_lst .lst_box .lst_hd li p {border-left:1px solid #8f9398;}
	.mb_lst .lst_box .lst_hd li:first-child p {border:0;}
	.mb_lst .lst_box .lst_bd {font-size:14px; color:#555; border:1px solid #ccc; border-top:0;}
	.mb_lst .lst_box .lst_bd ul {border-top:1px solid #dedede;}
	.mb_lst .lst_box .lst_bd li p {border-left:1px solid #dedede;}
	.mb_lst .lst_box .lst_bd li:first-child p {border:0;}
	.mb_lst .lst_box .lst_bd li img {margin:13px 5px 0 0;}
	.mb_lst .lst_box .lst_bd a {color:#555;}
	.mb_lst .lst_box .lst_bd a:hover {text-decoration:underline; color:#2196f3;}
	*/


	/* 회원관리 - 회원 상세 정보 */
	.mb_detail {}
	.mb_detail .info {height:85px; margin:15px 15px 0; *zoom:1;}
	.mb_detail .info:after {display:block; clear:both; content:"";}
	.mb_detail .info .data {float:left; position:relative; margin-top:5px; padding-left:88px;}
	.mb_detail .info .thum {position:absolute; left:0; top:0;}
	.mb_detail .info .thum .mask {position:absolute; left:0; top:0; width:75px; height:75px; background:url(../_img/mask_75x75.png);}
	.mb_detail .info .name {padding-top:2px; line-height:39px; font-size:18px; font-weight:bold; letter-spacing:-1px; color:#555;}
	.mb_detail .info .name span {display:inline-block; vertical-align:top; margin-top:1px; font-size:16px; font-weight:normal;}
	.mb_detail .info .pt_state {line-height:28px;}
	.mb_detail .info .state {font-size:15px; color:#777;}
	.mb_detail .info .tel {position:relative; display:inline-block; width:85px; height:28px; line-height:26px; margin-left:10px; font-size:12px; text-align:center; letter-spacing:-1px; color:#fff; border-radius:2px; background:#7c8fa0; cursor:pointer;}
	.mb_detail .tel_layer {display:none; position:absolute; left:260px; top:-10px; width:160px; height:64px; background:#fff url(../_img/icon_tel.gif) no-repeat 13px center; border:1px solid #ddd; border-radius:2px; box-shadow:3px 3px 4px rgba(0,0,0,0.2);}
	.mb_detail .tel_layer p {line-height:18px; padding:12px 0 0 45px; font-size:12px; color:#777;}
	.mb_detail .tel_layer b {line-height:18px; padding:0 0 0 45px; font-size:14px; color:#555;}
	.mb_detail.line {background:#fff url(../_img/mb_detail_w_line.gif) repeat-x left 150px;}

	.mb_detail .detail_tab {float:right; *zoom:1;}
	.mb_detail .detail_tab:after {display:block; clear:both; content:"";}
	.mb_detail .detail_tab li {float:left; width:85px; margin-left:10px; text-align:center; font-size:13px; letter-spacing:-1px;}
	.mb_detail .detail_tab .tab1 {background:url(../_img/mb_detail_tab01.gif);}
	.mb_detail .detail_tab .tab2 {background:url(../_img/mb_detail_tab02.gif);}
	.mb_detail .detail_tab .tab3 {background:url(../_img/mb_detail_tab03.gif);}
	.mb_detail .detail_tab li.on {background-position:0 -85px;}
	.mb_detail .detail_tab li a {display:block; line-height:40px; padding-top:45px; color:#acacac;}
	.mb_detail .detail_tab li.on a {color:#fff;}

	.mb_detail .detail {margin-top:25px;}


	/* 회원관리 - 회원 상세 정보 - 건강상태 */
	.detail_state .chart_box {*zoom:1;}
	.detail_state .chart_box:after {display:block; clear:both; content:"";}
	.detail_state .chart_box > div {position:relative; float:left; margin-bottom:10px; border:1px solid #dedede; overflow:hidden;}

	.detail_state .ondo		{width:228px; height:258px; margin-right:10px;}
	.detail_state .graph		{width:228px; height:258px; margin-right:10px;}
	.detail_state .ob_ex		{width:318px; height:258px;}
	.detail_state .ob_app		{width:468px; height:328px; margin-right:10px;}
	.detail_state .ob_ana		{width:318px; height:328px;}
	.detail_state .vcc_chart	{height:288px; float:none !important;}

	.detail_state .ondo h2,
	.detail_state .graph h2 {height:45px; line-height:43px; text-align:center; font-size:14px; color:#555; background:#f8f8f8;}
	.detail_state .ondo .state {position:absolute; left:0; top:65px; width:100%; line-height:25px; font-size:16px; text-align:center; font-weight:bold; color:#555;}
	.detail_state .graph .h_graph {position:absolute; left:50%; top:50%; width:200px; height:200px; margin:-72px 0 0 -100px;}
	.detail_state .graph .h_graph a {display:none !important;}

	.detail_state .ob_ex p {padding:48px 0 0; line-height:41px; text-align:center; font-size:14px; color:#555;}

	.detail_state .ob_app h2 {position:relative; height:45px; line-height:43px; padding:0 25px; font-size:14px; color:#555; background:#f8f8f8;}
	.detail_state .ob_app .ob_state {position:absolute; right:15px; top:0; font-size:13px; color:#777;}
	.detail_state .ob_app .ob_state i {display:inline-block; width:6px; height:6px; margin:20px 0 0 0; border-radius:3px; background:#aaa; vertical-align:top;}
	.detail_state .ob_app .ob_state01 i {background:#28b6f6;}
	.detail_state .ob_app .ob_state02 i {background:#01bfa5;}
	.detail_state .ob_app .ob_state03 i {background:#cddc39;}
	.detail_state .ob_app .ob_state04 i {background:#fec107;}
	.detail_state .ob_app .ob_state05 i {background:#fe7143;}
	.detail_state .ob_app .in_box {padding:0 25px;}
	.detail_state .ob_app dl {margin-top:20px;}
	.detail_state .ob_app dl:first-child {margin-top:15px;}
	.detail_state .ob_app dt {line-height:37px; font-size:14px; font-weight:bold; color:#555;}
	.detail_state .ob_app dd {position:relative; padding:23px 0 24px;}
	.detail_state .ob_app .arr {position:absolute; top:0; width:16px; height:16px; margin-left:-8px; background:url(../_img/chart_arr_b.gif);}
	.detail_state .ob_app ul {*zoom:1;}
	.detail_state .ob_app ul:after {display:block; clear:both; content:"";}
	.detail_state .ob_app ul li {position:relative; float:left; width:20%;}
	.detail_state .ob_app .ob01 {background:#28b6f6;}
	.detail_state .ob_app .ob02 {background:#01bfa5;}
	.detail_state .ob_app .ob03 {background:#cddc39;}
	.detail_state .ob_app .ob04 {background:#fec107;}
	.detail_state .ob_app .ob05 {background:#fe7143;}
	.detail_state .ob_app ul li p {height:30px; line-height:28px; text-align:center; font-size:13px; letter-spacing:-1px; color:#fff; border-left:1px solid #fff;}
	.detail_state .ob_app ul li i {position:absolute; left:100%; top:39px; width:50px; height:15px; margin-left:-25px; text-align:center; font-style:normal; font-size:12px; color:#888;}

	.detail_state .ob_ana {text-align:center;}
	.detail_state .ob_ana h2 {padding-top:45px; line-height:28px; font-size:16px; color:#555;}
	.detail_state .ob_ana ul {width:248px; margin:25px auto 0; *zoom:1;}
	.detail_state .ob_ana ul:after {display:block; clear:both; content:"";}
	.detail_state .ob_ana ul li {width:118px; height:68px; line-height:66px; font-size:13px; letter-spacing:-0.05em; border-radius:4px;}
	.detail_state .ob_ana .bmi {float:left; color:#28b6f6; border:1px solid #28b6f6;}
	.detail_state .ob_ana .ob {float:right; color:#eab000; border:1px solid #fec107;}
	.detail_state .ob_ana ul li i {display:inline-block; vertical-align:top; width:10px; height:10px; margin:28px 0 0 4px;}
	.detail_state .ob_ana .bmi .up {background:url(../_img/bmi_up.gif);}
	.detail_state .ob_ana .bmi .down {background:url(../_img/bmi_down.gif);}
	.detail_state .ob_ana .ob .up {background:url(../_img/ob_up.gif);}
	.detail_state .ob_ana .ob .down {background:url(../_img/ob_down.gif);}
	.detail_state .ob_ana p {padding:24px 20px 0; line-height:24px; font-size:14px; letter-spacing:-0.07em; color:#555;}
	.detail_state .ob_ana p b {color:#333;}
	.detail_state .ob_ana p b span {color:#bc8e00;}
	.detail_state .ob_ana p strong {color:#2196f3;}

	.detail_state .vcc_chart h2 {padding:13px 25px 0; line-height:50px; font-size:16px; font-weight:bold; color:#555;}
	.detail_state .vcc_chart .in {position:relative; padding:0 25px; *zoom:1;}
	.detail_state .vcc_chart .in:after {display:block; clear:both; content:"";}
	.detail_state .vcc_chart .lft {float:left; position:relative; width:420px;}
	.detail_state .vcc_chart .chart_tab {position:absolute; right:0; top:-33px;}
	.detail_state .vcc_chart .chart_tab li {float:left; width:35px; height:22px; line-height:20px; text-align:center; font-size:12px; color:#888; background:#eaeaea; border-radius:2px; cursor:pointer;}
	.detail_state .vcc_chart .chart_tab li:first-child {margin-right:5px;}
	.detail_state .vcc_chart .chart_tab li.on {color:#fff; background:#7c8fa0;}
	.detail_state .vcc_chart .chart_ce {width:100%; height:200px; background:#f8f8f8; overflow:hidden;}
	.detail_state .vcc_chart .chart_area {width:390px; height:180px; margin:0 auto 0;}
	.detail_state .vcc_chart .chart_area a {display:none !important;}
	.detail_state .vcc_chart .chart_area * {margin:0 !important; padding:0 !important;}
	.detail_state .vcc_chart .rgt {float:right; width:303px; padding-top:44px;}
	.detail_state .vcc_chart .day_week {position:absolute; right:25px; top:-34px; line-height:24px; text-align:right; font-size:13px; color:#555;}
	.detail_state .vcc_chart .bar_graph dl {margin-top:18px;}
	.detail_state .vcc_chart .bar_graph dt {line-height:34px; font-size:14px; color:#555;}
	.detail_state .vcc_chart .bar_graph dd {position:relative; height:14px; /**/ width:20px; background:#ddd;}
	.detail_state .vcc_chart .bar_graph dd b {position:absolute; left:100%; width:70px; height:14px; line-height:14px; margin-left:5px; font-size:13px; font-weight:bold; color:#555;}
	.detail_state .vcc_chart .bar_graph dd i {font-style:normal;}
	.detail_state .vcc_chart .bar_graph .user dd {background:#fec107;}
	.detail_state .vcc_chart .bar_graph .aver dd {background:#28b6f6;}

	.detail_state .in_body,
	.detail_state .pt_history {margin-top:9px;}
	.detail_state .in_body h2,
	.detail_state .pt_history h2 {line-height:66px; font-size:16px; font-weight:bold; color:#555;}
	.detail_state .in_body  table span {color:#fe7143;}
	.detail_state .pt_history p {margin-top:15px; text-align:left;}
	.detail_state .pt_history p:first-child {margin:0;}


	/* 회원관리 - 회원 상세 정보 - PT완료 */
	.detail_pt .state {padding:25px 0 17px; font-size:13px; color:#777; *zoom:1;}
	.detail_pt .state:after {display:block; clear:both; content:"";}
	.detail_pt .state p {float:left; height:14px; line-height:12px; padding:0 7px; border-left:1px solid #cacaca;}
	.detail_pt .state p:first-child {border:0;}
	.detail_pt .state p:first-child b {color:#2196f3;}
	.detail_pt .finish {color:#558cbe !important;}
	.detail_pt .change {color:#ffb300 !important;}
	.detail_pt .cancel {color:#ff7043 !important;}
	.detail_pt a {cursor:pointer;}

	.detail_pt_ex {margin-top:15px; padding:13px 25px 22px; border:1px solid #ccc; background:#fff;}
	.detail_pt_ex dt {line-height:34px; font-size:13px; font-weight:bold; color:#666;}
	.detail_pt_ex p {line-height:20px; font-size:13px; color:#777;}
	.detail_pt_ex p strong {color:#558cbe; text-decoration:underline;}
	.detail_pt_ex p b {color:#777; text-decoration:underline;}
	.detail_pt_ex ul {line-height:16px; margin-top:16px; font-size:12px; color:#777;}
	.detail_pt_ex ul i {display:inline-block; width:4px; height:4px; vertical-align:top; margin:6px 5px 0 0; border-radius:2px;}
	.detail_pt_ex ul b {font-weight:normal;}
	.detail_pt_ex .t1 i {background:#558cbe;}
	.detail_pt_ex .t1 b {color:#558cbe;}
	.detail_pt_ex .t2 i {background:#ffb300;}
	.detail_pt_ex .t2 b {color:#ffb300;}
	.detail_pt_ex .t3 i {background:#ff7043;}
	.detail_pt_ex .t3 b {color:#ff7043;}

	.detail_pt_ly {display:none; position:fixed; left:0; top:0; z-index:9999; width:100%; height:100%; background:url(../_img/layer_bg.png);}
	.detail_pt_ly dl {position:fixed; left:50%; top:50%; padding:9px 20px 20px; background:#fff; border-radius:3px; box-shadow:2px 2px 6px rgba(0,0,0,0.3);}
	.detail_pt_ly dl dt {line-height:46px; font-size:14px; font-weight:bold; color:#444;}
	.detail_pt_ly dl dt .close {position:absolute; right:15px; top:16px; width:32px; height:32px; font-size:0; text-indent:-9999px; background:url(../_img/layer_close.gif) no-repeat; cursor:pointer;}
	.detail_pt_ly .btn {text-align:center;}
	.detail_pt_ly .btn a {display:inline-block; width:110px; height:32px; line-height:31px; font-size:13px; color:#fff; border-radius:2px; background:#28b6f6; cursor:pointer;}

	.pt_state_layer dl {width:490px; height:295px; margin:-162px 0 0 -260px;}
	.pt_state_layer dd ul {*zoom:1;}
	.pt_state_layer dd ul:after {display:block; clear:both; content:"";}
	.pt_state_layer dd li {float:left; width:154px; padding-left:14px; text-align:center;}
	.pt_state_layer dd li:first-child {padding:0;}
	.pt_state_layer dd a {display:block; padding:9px 0 21px; border:1px solid #f2f2f2; background:#f2f2f2; cursor:pointer;}
	.pt_state_layer dd h2 {line-height:54px; font-size:16px; color:#999;}
	.pt_state_layer dd i {display:inline-block; width:75px; height:75px;}
	.pt_state_layer dd .finish i		{background:url(../_img/pt_state_layer_icon1.png);}
	.pt_state_layer dd .change i	{background:url(../_img/pt_state_layer_icon2.png);}
	.pt_state_layer dd .cancel i		{background:url(../_img/pt_state_layer_icon3.png);}
	.pt_state_layer dd p {height:72px; line-height:18px; margin-top:17px; letter-spacing:-0.07em; font-size:13px; color:#999;}
	.pt_state_layer dd a:hover,
	.pt_state_layer dd li.on a {background:#fff;}
	.pt_state_layer dd .finish a:hover, 
	.pt_state_layer dd .finish.on a {border-color:#558cbe;}
	.pt_state_layer dd .finish a:hover h2,
	.pt_state_layer dd .finish.on a h2,
	.pt_state_layer dd .finish a:hover p,
	.pt_state_layer dd .finish.on a p {color:#558cbe;}
	.pt_state_layer dd .finish a:hover i, 
	.pt_state_layer dd .finish.on a i {background-position:0 -75px;}
	.pt_state_layer dd .change a:hover, 
	.pt_state_layer dd .change.on a {border-color:#ffb300;}
	.pt_state_layer dd .change a:hover h2,
	.pt_state_layer dd .change.on a h2,
	.pt_state_layer dd .change a:hover p,
	.pt_state_layer dd .change.on a p {color:#ffb300;}
	.pt_state_layer dd .change a:hover i, 
	.pt_state_layer dd .change.on a i {background-position:0 -75px;}
	.pt_state_layer dd .cancel a:hover, 
	.pt_state_layer dd .cancel.on a {border-color:#ff7043;}
	.pt_state_layer dd .cancel a:hover h2,
	.pt_state_layer dd .cancel.on a h2,
	.pt_state_layer dd .cancel a:hover p,
	.pt_state_layer dd .cancel.on a p {color:#ff7043;}
	.pt_state_layer dd .cancel a:hover i, 
	.pt_state_layer dd .cancel.on a i {background-position:0 -75px;}

	.pt_daily_layer dl {width:410px; margin:-250px 0 0 -215px;}
	.pt_daily_layer .text_box {padding:15px; border:1px solid #dedede; background:#fafafa; *zoom:1;}
	.pt_daily_layer .text_box:after {display:block; clear:both; content:"";}
	.pt_daily_layer textarea {float:left; width:100%; height:268px; overflow-y:scroll; border:0; background:none; outline:none;}
	.pt_daily_layer .btn {padding:20px 0 5px;}

	.pt_counsel_layer dl {width:300px; margin:-285px 0 0 -170px;}
	.pt_counsel_layer dt span {padding-left:5px; font-size:12px; font-weight:normal; color:#999;}
	.pt_counsel_layer dt span i {font-style:normal; text-decoration:underline;}
	.pt_counsel_layer .tit {line-height:26px; font-size:13px; font-weight:bold; color:#28b6f6;}
	.pt_counsel_layer table {width:100%; margin:5px 0 5px; table-layout:fixed; text-align:center;}
	.pt_counsel_layer table th,
	.pt_counsel_layer table td {position:relative; height:30px; padding:0 10px; font-size:12px; color:#777; border:1px solid #dedede; vertical-align:middle;}
	.pt_counsel_layer table th {font-weight:bold; background:#f2f2f2;}
	.pt_counsel_layer input[type="text"] {height:20px; width:50px; padding:0 5px; text-align:center; font-size:12px; color:#666; border:1px solid #ddd;}
	.pt_counsel_layer table td span {position:absolute; right:10px; top:5px; width:26px; text-align:left;}
	.pt_counsel_layer .text_box {padding:15px; border:1px solid #dedede; background:#fafafa; *zoom:1;}
	.pt_counsel_layer .text_box:after {display:block; clear:both; content:"";}
	.pt_counsel_layer textarea {float:left; width:100%; height:55px; overflow-y:scroll; border:0; background:none; outline:none;}
	.pt_counsel_layer .btn {padding:15px 0 0;}


	/* 회원관리 - 회원 상세 정보 - PT구매내역 */
	.detail_buy {padding-top:25px;}
	.detail_buy .tb01 {table-layout:fixed;}
	.detail_buy .tb01 b {font-weight:normal; color:#fe7143;}


	/* 회원관리 - 만료된 회원 */
	.mb_expire .tb01 {table-layout:fixed;}



/* PT관리 ---------------------------------------------------------------------- */
	/* PT관리 - PT예약관리 & 일정변경 */
	.pt_adm .cal_nav {position:relative; height:67px; margin-top:10px; text-align:center;}
	.pt_adm .cal_nav p {width:310px; height:41px; margin:0 auto; *zoom:1;}
	.pt_adm .cal_nav p:after {display:block; clear:both; content:"";}
	.pt_adm .cal_nav p a {display:block; padding:10px; cursor:pointer;}
	.pt_adm .cal_nav .date {line-height:40px; font-size:18px; font-weight:bold; letter-spacing:0; color:#555;}
	.pt_adm .cal_nav .prev {float:left;}
	.pt_adm .cal_nav .next {float:right;}
	.pt_adm .cal_nav .this_week {position:absolute; right:0; top:29px; cursor:pointer;}
	.pt_adm .scd_change {height:72px; margin-top:5px; text-align:center;}
	.pt_adm .scd_change .tit {line-height:16px; font-size:14px; font-weight:bold; color:#3bbcf6;}
	.pt_adm .scd_change .name {line-height:40px; font-size:18px; color:#555;}

	.pt_adm table {table-layout:fixed;}
	.pt_adm .tb02 .time00, .pt_adm .tb02 .time01, .pt_adm .tb02 .time02, .pt_adm .tb02 .time03, .pt_adm .tb02 .time04, .pt_adm .tb02 .time05, .pt_adm .tb02 .time06{color:#b3c40c; background:#f8fae1;}
	.pt_adm .tb02 .time07, .pt_adm .tb02 .time08, .pt_adm .tb02 .time09, .pt_adm .tb02 .time10, .pt_adm .tb02 .time11, .pt_adm .tb02 .time12 {color:#ffc107; background:#fff9e6;}
	.pt_adm .tb02 .time13, .pt_adm .tb02 .time14, .pt_adm .tb02 .time15, .pt_adm .tb02 .time16, .pt_adm .tb02 .time17, .pt_adm .tb02 .time18 {color:#ff9c00; background:#fff1d9;}
	.pt_adm .tb02 .time19, .pt_adm .tb02 .time20, .pt_adm .tb02 .time21, .pt_adm .tb02 .time22, .pt_adm .tb02 .time23 {color:#ff6c00; background:#ffead9;}
	.pt_adm .tb02 thead th:first-child {background:none;}
	.pt_adm .tb02 thead th.today {position:relative; z-index:2; color:#2196f3; background:#daeff8;}
	.pt_adm .tb02 tbody td.today {position:relative; z-index:2; background-image:url(../_img/today_td.png);}
	.pt_adm .tb02 tbody td.no_rsv.today {background:none !important; background-image:url(../_img/today_td2.png) !important;}
	.pt_adm .tb02 .no_rsv {color:#999; background:#f8f8f8;}
	.pt_adm .tb02 .reserb {position:relative; margin-top:7px;}
	.pt_adm .tb02 .reserb:first-child {margin:0;}
	.pt_adm .tb02 .reserb > a {display:block; cursor:pointer;}
	.pt_adm .tb02 .reserb > a b {display:block; font-size:13px; font-weight:bold; color:#555;}
	.pt_adm .tb02 .reserb > a span {margin-top:2px; font-size:12px; color:#2196f3;}
	.pt_adm .tb02 .reserb > a b.on {color:#2196f3; text-decoration:underline;}
	.pt_adm .tb02 .new_reg {display:inline-block; width:21px; height:21px; margin:0 auto; line-height:0; font-size:0; text-indent:-9999px; background:url(../_img/pt_register.png) no-repeat;}

	.pt_adm .tb02 .possible {display:inline-block; width:80%; height:20px; line-height:18px; font-size:12px; color:#fff; background:#3bbcf6; border-radius:2px; cursor:pointer;}

	.pt_admly {display:none; position:absolute; z-index:2; letter-spacing:0.05em; font-size:12px; background:#fff; border:1px solid #bbb \9; border-radius:3px; box-shadow:1px 1px 5px rgba(0,0,0,0.5); overflow:hidden;}
	.ptly_bgb {position:fixed; left:0; top:0; z-index:1; width:100%; height:100%; background:#000; opacity:0.10; filter:alpha(opacity=10);}

	.pt_state_ly a {display:block; height:40px; line-height:38px; padding:0 13px; color:#555;}
	.pt_state_ly a:hover {color:#2196f3; text-decoration:underline;}

	.pt_change_ly a {display:block; height:37px; line-height:35px; padding:0 13px; color:#555; border-top:1px solid #dedede; cursor:pointer;}
	.pt_change_ly a:first-child {border:0;}
	.pt_change_ly a:first-child b {color:#2196f3;}
	.pt_change_ly a:hover {text-decoration:underline;}
	.pt_change_ly a:first-child:hover {color:#2196f3;}

	.new_reg_ly {width:200px; padding:5px 0 0;}
	.new_reg_ly dt {padding:0 15px; line-height:44px;}
	.new_reg_ly dt b {font-size:14px; color:#555;}
	.new_reg_ly .close {position:absolute; right:7px; top:12px; display:block; width:32px; height:32px; font-size:0; text-indent:-9999px; background:url(../_img/layer_close.gif); cursor:pointer;}
	.new_reg_ly .tit {height:24px; line-height:22px; padding:0 15px; font-size:11px; font-weight:bold; color:#777; background:#f5f5f5;}
	.new_reg_ly .tit i {font-style:normal;}
	.new_reg_ly ul {margin-top:7px; padding:0 15px 20px;}
	.new_reg_ly ul li {line-height:22px; color:#2196f3;}
	.new_reg_ly ul li b {color:#555;}
	.new_reg_ly ul li a {cursor:pointer;}
	.new_reg_ly ul li a:hover {text-decoration:underline;}
	.new_reg_ly ul li a:hover b {color:#2196f3;}

	.reserv_data_ly {padding:5px 16px 17px;}
	.reserv_data_ly dl {width:198px;}
	.reserv_data_ly dt {height:40px; line-height:40px;}
	.reserv_data_ly dt b {font-size:14px; color:#555;}
	.reserv_data_ly dt .state1 {color:#558cbe;}
	.reserv_data_ly dt .state2 {color:#ffb300;}
	.reserv_data_ly dt .state3 {color:#ff7043;}
	.reserv_data_ly .close {position:absolute; right:7px; top:8px; display:block; width:32px; height:32px; font-size:0; text-indent:-9999px; background:url(../_img/layer_close.gif); cursor:pointer;}
	.reserv_data_ly dd > p {line-height:18px; color:#777;}
	.reserv_data_ly dd > div {position:relative; margin-top:6px; padding-left:58px;}
	.reserv_data_ly dd .thum {position:absolute; left:1px; top:8px;}
	.reserv_data_ly dd .mask {position:absolute; left:0; top:0; width:45px; height:45px; background:url(../_img/mask_45x45.png) no-repeat;}
	.reserv_data_ly dd .name {line-height:24px; color:#555;}
	.reserv_data_ly dd .name b {font-size:13px;}
	.reserv_data_ly dd .name span {display:block; line-height:16px; color:#666;}
	.reserv_data_ly dd > div > span {display:block;}
	 
	.pt_adm .tb02 i {position:absolute; top:0; width:1px; height:500px; background:#28b6f6;}
	.pt_adm .tb02 .i1 {left:-1px;}
	.pt_adm .tb02 .i2 {right:-1px;}


	/* PT관리 - 트레이너 스케줄 & 변경 */
	.pt_schedule {min-height:600px;}
	.pt_schedule > div > p {font-size:13px; color:#777;}
	.pt_schedule > div > p b {color:#2196f3;}
	.pt_schedule table {margin-top:12px;}
	.pt_schedule .lst_empty {padding:50px 0;}
	.pt_schedule .s_none {color:#2196f3;}
	.pt_schedule .btn {margin-top:20px; text-align:right;}
	.pt_schedule .btn a {display:inline-block; width:108px; height:30px; line-height:28px; text-align:center; font-size:13px; color:#2196f3; border:1px solid #2196f3; border-radius:2px; cursor:pointer;}

	.pt_schedule_c h2 {font-size:16px; color:#555;}
	.pt_schedule_c dl {margin-top:20px;}
	.pt_schedule_c dt {line-height:45px; font-size:15px; color:#555;}
	.pt_schedule_c .time {display:inline-block; border:1px solid #ccc; border-right:0; border-bottom:0;}
	.pt_schedule_c .time ul {*zoom:1;}
	.pt_schedule_c .time ul:after {display:block; clear:both; content:"";}
	.pt_schedule_c .time li {float:left; width:158px; height:43px; line-height:43px; text-align:center; border:1px solid #ccc; border-left:0; border-top:0;}
	.pt_schedule_c .time li:first-child {width:123px; font-size:14px; color:#555; background:#f8f8f8;}
	.pt_schedule_c .time select {vertical-align:middle;}
	.pt_schedule_c .holiday {*zoom:1;}
	.pt_schedule_c .holiday:after {display:block; clear:both; content:"";}
	.pt_schedule_c .holiday li {float:left; margin-right:20px; font-size:14px; color:#555;}
	.pt_schedule_c .holiday input {margin-right:3px;}

	.pt_schedule_c .app_holiday select {width:250px; height:45px; vertical-align:middle;}
	.pt_schedule_c .app_holiday ul {margin-top:10px; *zoom:1;}
	.pt_schedule_c .app_holiday ul:after {display:block; clear:both; content:"";}
	.pt_schedule_c .app_holiday li {float:left; height:43px; border:1px solid #ccc; border-left:0;}
	.pt_schedule_c .app_holiday input {width:228px; height:43px; line-height:43px\9; padding:0 10px; font-size:14px; color:#555; border:0; vertical-align:top;}
	.pt_schedule_c .app_holiday li:first-child {border-left:1px solid #ccc;}
	.pt_schedule_c .app_holiday .datepk_btn {width:45px;}
	.pt_schedule_c .app_holiday .datepk_btn img {margin-top:-31px;}
	.pt_schedule_c .btn {margin-top:50px; text-align:right;}
	.pt_schedule_c .btn a {display:inline-block; width:108px; height:30px; line-height:28px; text-align:center; font-size:13px; color:#2196f3; border:1px solid #2196f3; border-radius:2px; cursor:pointer;}



/* 정산/통계관리 ---------------------------------------------------------------------- */
	/* 정산/통계관리 - 월간판매현황 & 정산관리 공통 테이블 */
	.state_table thead tr:first-child th:first-child {border-right:1px solid #dedede;}
	.state_table thead tr:first-child th {padding:10px 10px 15px;}
	.state_table thead tr:first-child+tr th {font-weight:normal;}
	.state_table td {padding:15px 5px;}
	.state_table .a {color:#29b6f6;}
	.state_table .b {color:#ffb300;}
	.state_table .c {color:#ff7043;}
	.state_table tfoot td {font-weight:bold;}
	.monthly_sales .state_table {table-layout:fixed;}
	.calculate .tb02,
	.trn_state .tb02 {border-top-width:2px; }
	.calculate .state_table thead tr:first-child+tr th,
	.trn_state .state_table thead tr:first-child+tr th {font-size:11px; letter-spacing:-0.1em;}
	.calculate .state_table tbody th {font-weight:normal;}
	.calculate .state_table thead th {padding-left:8px; padding-right:8px;}
	.calculate .state_table tbody td,
	.calculate .state_table tfoot td {padding:8px 8px;}
	.trn_state .state_table tbody th,
	.trn_state .state_table tbody td {padding:10px; font-weight:normal; font-size:12px;}
	.trn_state .state_table tfoot th,
	.trn_state .state_table tfoot td {padding:10px;}

	/* 정산/통계관리 - 월간판매현황 */
	.monthly_sales .chart {margin-bottom:20px; overflow:hidden;}
	.monthly_sales .ms_chart {width:100%; height:400px; margin-top:-20px;}
	.monthly_sales .ms_chart a {display:none !important; background:red;}
	.monthly_sales .ms_chart svg > g + g + g + g + g + g + g + g  > path {display:none;}
	.monthly_sales .ms_chart > div > div > svg > g > g > g {margin-left:-30px;}
	.monthly_sales .ms_chart > div > div > svg > g > g > g > g:first-child+text+text {display:none}
	.monthly_sales .ms_chart > div > div > svg > g > g > g > rect {width:20px !important;}
	/* .monthly_sales .ms_chart svg > g + g + g + g + g + g + g + g  > g > path {display:none;} */

	/* 정산/통계관리 - 정산관리 & 트레이너별 현황 왼쪽 텝(주단위 정산) */
	.state_tab {float:left; width:143px; border:1px solid #ccc;}
	.state_tab h2 {line-height:40px; padding:0 15px; font-size:13px; font-weight: bold; color:#555;}
	.state_tab .this_month {letter-spacing:-0.1em; color:#2196f3;}
	.state_tab ul p {line-height:30px; padding:0 15px; font-size:12px; color:#888; border-top:1px solid #dedede; background:#f8f8f8 url(../_img/calculate_tab_off.png) no-repeat right center; cursor:pointer;}
	.state_tab ul p.on {background:#f8f8f8 url(../_img/calculate_tab_on.png) no-repeat right center;}
	.state_tab ul li:first-child p {background-image:none; cursor:default;}
	.state_tab ul div {padding:8px 15px 20px; border-top:1px solid #dedede;}
	.state_tab ul div a {display:block; line-height:24px; font-size:12px; color:#777; cursor:pointer;}
	.state_tab ul div a:hover,
	.state_tab ul div a.on {text-decoration:underline;}
	.state_tab ul div a.on {color:#088af2;}

	/* 정산/통계관리 - 정산관리 */
	.calculate {*zoom:1;}
	.calculate:after {display:block; clear:both; content:"";}
	.calculate .tb_con {float:right; width:637px;}
	.calculate .tb_con h2 {line-height:43px; font-size:14px; color:#555;}
	.calculate .total_price {margin-top:22px; *zoom:1;}
	.calculate .total_price:after {display:block; clear:both; content:"";}
	.calculate .total_price li {float:left; line-height:22px; margin-right:15px; font-size:13px; color:#555;}
	.calculate .total_price i {display:inline-block; vertical-align:top; width:4px; height:4px; margin:9px 5px 0 0; border-radius:2px; background:#2196f3;}
	.calculate .ex_txt {margin-top:20px;}
	.calculate .ex_txt li {position:relative; line-height:21px; padding-left:10px; font-size:12px; color:#888;}
	.calculate .ex_txt i {position:absolute; left:0; top:0; font-style:normal;}

	/* 정산/통계관리 - 트레이너별 현황 */
	.trn_state {*zoom:1;}
	.trn_state:after {display:block; clear:both; content:"";}
	.trn_state .tb_con {float:right; width:637px;}
	.trn_state .trn_tab {padding:10px 0; *zoom:1;}
	.trn_state .trn_tab:after {display:block; clear:both; content:"";}
	.trn_state .trn_tab li {float:left; margin-right:5px;}
	.trn_state .trn_tab li a {display:block; width:95px;  height:30px; line-height:28px; text-align:center; font-size:13px; color:#fff; border-radius:2px; background:#bbb;}
	.trn_state .trn_tab li.on a {background:#666b72;}
	.trn_state .tb02 table {table-layout:fixed;}
	.trn_state .tb02 table th {font-size:12px;}
	.trn_state .ex_txt {margin-top:20px;}
	.trn_state .ex_txt li {position:relative; line-height:21px; padding-left:10px; font-size:12px; color:#888;}
	.trn_state .ex_txt i {position:absolute; left:0; top:0; font-style:normal;}

	.trn_state .each_tab {position:relative; line-height:44px; margin-bottom:10px; border:1px solid #cacaca;}
	.trn_state .each_tab .arr {position:absolute; left:140px; top:-7px; width:12px; height:7px; background:url(../_img/trn_each_tab_arr.gif) no-repeat;}
	.trn_state .each_tab .lst {padding-left:10px; *zoom:1;}
	.trn_state .each_tab .lst:after {display:block; clear:both; content:"";}
	.trn_state .each_tab .lst li {float:left;}
	.trn_state .each_tab .lst a {display:block; padding:0 15px; font-size:12px; color:#777; cursor:pointer;}
	.trn_state .each_tab .lst a.on {color:#444; text-decoration:underline;}
	.trn_state .each_tab .nav {position:absolute; right:0; top:0; width:120px; text-align:center;}
	.trn_state .each_tab .nav .pg {font-size:13px; font-weight:bold; color:#aaa;}
	.trn_state .each_tab .nav i {padding-left:2px; font-style:normal;}
	.trn_state .each_tab .nav b {padding-right:2px; color:#777;}
	.trn_state .each_tab .nav a {position:absolute; top:0; width:44px; height:44px; cursor:pointer; font-size:0; text-indent:-9999px;}
	.trn_state .each_tab .nav .prev {left:0; background:url(../_img/trn_each_tab_prev.gif) no-repeat center center;}
	.trn_state .each_tab .nav .next {right:0; background:url(../_img/trn_each_tab_next.gif) no-repeat center center;}



/* 트레이너관리 ---------------------------------------------------------------------- */
	.trn_adm {padding:25px 20px 25px; border:1px solid #d6d6d6; background:#fff;}
	.trn_lst .lst_top {height:38px; *zoom:1;}
	.trn_lst .lst_top:after {display:block; clear:both; content:"";}
	.trn_lst .lst_top .total {float:left; padding-top:16px; line-height:22px; font-size:13px; color:#777;}
	.trn_lst .lst_top .total b {color:#2196f3;}
	.trn_lst .lst_top ul {float:right;}
	.trn_lst .lst_top ul li {float:left; height:36px; line-height:34px; padding:0 12px; font-size:12px; font-weight:bold; color:#777; border:1px solid #dedede;}
	.trn_lst .lst_top ul li b {color:#ff7e55;}
	.trn_lst .lst_top ul li:first-child {margin-right:5px;}
	.trn_lst .lst_top ul li:first-child b {color:#2196f3;}

	.trn_lst .lst_wrap {margin-top:10px; text-align:center;}
	.trn_lst .lst_head {background:#5e646b; border:1px solid #5e646b; border-top:0; border-bottom:0; *zoom:1;}
	.trn_lst .lst_head:after {display:block; clear:both; content:"";}
	.trn_lst .lst_head li {float:left; font-size:13px; font-weight:bold; color:#fff;}
	.trn_lst .lst_head li p {height:45px; line-height:43px; border-left:1px solid #8f9398;}
	.trn_lst .lst_head li:first-child p {border:0;}
	.trn_lst .lst_body {border:1px solid #ccc; border-top:0;}
	.trn_lst .lst_body a {display:block; border-top:1px solid #dedede; *zoom:1;}
	.trn_lst .lst_body a:after {display:block; clear:both; content:"";}
	.trn_lst .lst_body a:first-child {border:0;}
	.trn_lst .lst_body a p {float:left; font-size:13px; color:#777;}
	.trn_lst .lst_body a i {display:block; height:45px; line-height:43px; font-style:normal; border-left:1px solid #dedede;}
	.trn_lst .lst_body a p:first-child i {border:0;}
	.trn_lst .lst_body a:hover {background:#f9f9f9;}
	.trn_lst .lst_body .center_waiting p {color:#ff7043;}
	.trn_lst .lst_body .olleego_waiting p {color:#2196f3;}
	/*
	.trn_lst .lst_body .center_waiting:hover {background:#fef6f3;}
	.trn_lst .lst_body .olleego_waiting:hover {background:#e5f1fb;}
	*/
	.trn_lst .lst_wrap .nm {width:15%;}
	.trn_lst .lst_wrap .sex {width:20%;}
	.trn_lst .lst_wrap .state {width:20%;}
	.trn_lst .lst_wrap .mail {width:30%;}
	.trn_lst .lst_wrap .date {width:15%;}

	.trn_detail .detail_top {height:32px; *zoom:1;}
	.trn_detail .detail_top:after {display:block; clear:both; content:"";}
	.trn_detail .detail_top h2 {float:left; font-size:16px; color:#555;}
	.trn_detail .detail_top .btn {float:right;}
	.trn_detail .detail_top .btn a {float:left; display:block; width:100px; height:30px; line-height:28px; text-align:center; font-size:13px; border:1px solid #28b6f6; border-radius:2px; cursor:pointer;}
	.trn_detail .detail_top .back {margin-right:5px; color:#28b6f6; background:#fff;}
	.trn_detail .detail_top .app {color:#fff; background:#28b6f6;}

	.trn_detail dl {margin-top:30px;}
	.trn_detail dt {line-height:34px; font-size:14px; font-weight:bold; color:#2196f3;}
	.trn_detail .npd {padding:0;}
	.trn_detail .tbul01 li {padding:10px 15px; line-height:20px; border-top:1px solid #dedede;}
	.trn_detail .tbul01 li:first-child {border:0;}
	.trn_detail .tbul02 {*zoom:1;}
	.trn_detail .tbul02:after {display:block; clear:both; content:"";}
	.trn_detail .tbul02 li {float:left; width:20%;}
	.trn_detail .tbul02 li p {padding:10px 15px; height:20px; line-height:20px; color:#999; border-left:1px solid #dedede;}
	.trn_detail .tbul02 li:first-child p {border:0;}
	.trn_detail .tbul02 li p.on {font-weight:bold; color:#ff7043;}



/* 정보수정하기 ---------------------------------------------------------------------- */
	/* 정보수정하기 - 정보수정하기 */
	.cg_info dl {margin-top:35px;}
	.cg_info dl:first-child {margin:0;}
	.cg_info dl dt {line-height:24px; font-size:16px; font-weight:bold; color:#555;}
	.cg_info dl dd {margin-top:16px;}
	.cg_info .tb03 td {line-height:37px; font-size:12px; color:#888;}
	.cg_info .ex_txt1 {padding-left:10px;}
	.cg_info .change,
	.cg_info .del {display:block; width:43px; height:22px; line-height:20px; font-size:12px; font-weight:bold; text-align:center; color:#777; border:1px solid #ccc; border-bottom-width:2px; border-radius:2px; background:#fff; cursor:pointer;}
	.cg_info .first_img {*zoom:1;}
	.cg_info .first_img:after {display:block; clear:both; content:"";}
	.cg_info .first_img .thum {float:left;}
	.cg_info .first_img .btn {float:left; padding:15px 0 0 10px; *zoom:1;}
	.cg_info .first_img .btn:after {display:block; clear:both; content:"";}
	.cg_info .first_img .btn a {margin-top:5px;}
	.cg_info .first_img .btn a:first-child {margin:0;}
	.cg_info .first_img .txt {float:left; padding-left:15px; line-height:85px;}
	.cg_info .check {*zoom:1;}
	.cg_info .check:after {display:block; clear:both; content:"";}
	.cg_info .check li {float:left; width:120px; font-size:13px; color:#777;}
	.cg_info .check li input {margin-right:3px;}
	.cg_info select {color:#666;}
	.cg_info .address {font-size:0;}
	.cg_info .address p {margin-top:5px;}
	.cg_info .address p:first-child {margin:0;}
	.cg_info .address input {width:435px; padding:0 10px;}
	.cg_info .address p:first-child input {width:350px;}
	.cg_info .address .zip_code {display:inline-block; width:78px; height:35px; line-height:33px; margin-left:5px; font-size:12px; font-weight:bold; text-align:center; color:#777; border:1px solid #ccc; border-radius:2px; background:#f8f8f8; cursor:pointer;}
	.cg_info textarea {width:580px; height:60px; padding:10px; line-height:20px; vertical-align:top;}
	.cg_info .fac_img {*zoom:1;}
	.cg_info .fac_img:after {display:block; clear:both; content:"";}
	.cg_info .fac_img li {float:left; width:90px; margin-right:25px;}
	.cg_info .fac_img .btn {margin-top:5px; *zoom:1;}
	.cg_info .fac_img .btn:after {display:block; clear:both; content:"";}
	.cg_info .fac_img .change {float:left; width:42px;}
	.cg_info .fac_img .del {float:right; width:42px;}
	.cg_info .lst_add li {margin-top:5px; *zoom:1;}
	.cg_info .lst_add li:after {display:block; clear:both; content:"";}
	.cg_info .lst_add li:first-child {margin:0;}
	.cg_info .lst_add input {float:left; width:348px; margin-right:5px; padding:0 10px;}
	.cg_info .lst_add a {float:left; display:block; width:58px; height:35px; line-height:33px; font-size:12px; font-weight:bold; text-align:center; color:#999; border:1px solid #ccc; border-radius:2px; background:#f8f8f8; cursor:pointer;}
	.cg_info .lst_add .add {color:#666; border-color:#acacac; background:#fff;}
	.cg_info .btn_area {margin-top:25px; padding-bottom:10px; text-align:center;}
	.cg_info .btn_area a {display:inline-block; width:100px; height:36px; line-height:34px; font-size:13px; font-weight:bold; color:#fff; border-radius:2px; background:#28b6f6; cursor:pointer;}

	/* 정보수정하기 - 제안하기 */
	.proposal h2 {line-height:24px; font-size:16px; font-weight:bold; color:#555;}
	.proposal .tb03 {margin-top:16px;}
	.proposal .tb03 td b {display:block; line-height:37px; vertical-align:middle;}
	.proposal .tit,
	.proposal textarea {width:600px;}
	.proposal .tit {padding:0 10px;}
	.proposal textarea {padding:10px; height:300px;}
	.proposal .btn_area {margin-top:25px; padding-bottom:10px; text-align:center;}
	.proposal .btn_area a {display:inline-block; width:100px; height:36px; line-height:34px; font-size:13px; font-weight:bold; color:#fff; border-radius:2px; background:#28b6f6; cursor:pointer;}

	/* 정보수정하기 - 제안내역 확인 */
	.proposal_lst h2 {line-height:24px; font-size:16px; font-weight:bold; color:#555;}
	.proposal_lst .tb02 {margin-top:16px;}
	.proposal_lst .tb02 td:first-child {border-left:0;}
	.proposal_lst .tb02 th,
	.proposal_lst .tb02 td {padding:15px 20px 18px; font-size:14px;}
	.proposal_lst .subj {text-align:left;}
	.proposal_lst .subj a {color:#555;}
	.proposal_lst .subj a:hover {text-decoration:underline;}
	.proposal_lst .answer {font-weight:bold; color:#ff7043;}
	.proposal_lst .no_answer {font-weight:bold; color:#888;}

	/* 정보수정하기 - 제안내역 상세보기 */
	.proposal_detail h2 {line-height:24px; font-size:16px; font-weight:bold; color:#555;}
	.proposal_detail .pp_detail {margin-top:16px; border-top:3px solid #5e646b;}
	.proposal_detail .pp_area {border:1px solid #ccc; border-top:0;}
	.proposal_detail .pp_area > div {padding:20px 20px;}
	.proposal_detail .pp_area .tit {background:#f8f8f8; border-bottom:1px solid #dedede;}
	.proposal_detail .pp_area .tit input {float:left; width:100%; height:35px; line-height:35px\9; padding:0 10px; font-size:14px; color:#555; border:1px solid #ccc;}
	.proposal_detail .pp_area .tit p {clear:both; padding:15px 0 2px; font-size:13px; color:#777; *zoom:1;}
	.proposal_detail .pp_area .tit p:after {display:block; clear:both; content:"";}
	.proposal_detail .pp_area .tit p span {float:left; height:12px; line-height:10px;}
	.proposal_detail .pp_area .answer {font-weight:bold; color:#ff7043;}
	.proposal_detail .pp_area .no_answer {font-weight:bold; color:#888;}
	.proposal_detail .pp_area .date {margin-left:10px; padding-left:10px; border-left:1px solid #dedede; /*background:url(../_img/line01.gif) no-repeat;*/}
	.proposal_detail .pp_area .con textarea {width:100%; height:250px; padding:10px; line-height:22px; font-size:14px; color:#555; vertical-align:top; border:1px solid #ccc;}

	.proposal_detail .as_area {border:1px solid #ccc; border-top:0; background:#fafafa;}
	.proposal_detail .as_area .answer {padding:25px 20px;}
	.proposal_detail .as_area .tit {line-height:18px;}
	.proposal_detail .as_area .tit b {font-size:14px; color:#555;}
	.proposal_detail .as_area .tit span {padding-left:5px; font-size:13px; color:#999;}
	.proposal_detail .as_area .con {margin-top:10px; line-height:22px; font-size:14px; color:#777;}
	.proposal_detail .as_area .answer_empty {padding:50px 0; text-align:center; font-size:14px; font-weight:bold; color:#555;}

	.proposal_detail .btn {margin-top:17px; text-align:center; *zoom:1;}
	.proposal_detail .btn:after {display:block; clear:both; content:"";}
	.proposal_detail .btn a {display:block; float:left; width:63px; height:26px; line-height:24px; font-weight:bold; font-size:12px; color:#777; border:1px solid #cacaca; border-radius:2px; cursor:pointer;}
	.proposal_detail .btn a i {display:inline-block; width:11px; height:11px; margin:8px 2px 0 0; vertical-align:top;}
	.proposal_detail .btn .modify {margin-right:5px;}
	.proposal_detail .btn .modify i	{background:#fff url(../_img/icon_pen.png) no-repeat;}
	.proposal_detail .btn .del i		{background:#fff url(../_img/icon_dustbin.png) no-repeat;}
	.proposal_detail .btn .lst {float:right; color:#28b6f6; border-color:#28b6f6;}

	/* 정보수정하기 - 센터소속 변경요청 */
	.ct_change {}
	.ct_change h2 {line-height:24px; font-size:16px; font-weight:bold; color:#555;}
	.ct_change .tb01 {margin-top:16px; table-layout:fixed;}
	.ct_change .tb01 td {padding:50px 0;}
	.ct_change .ct_name {font-weight:bold;}
	.ct_change .ct_choice {width:80%; margin:0 auto; text-align:left;}
	.ct_change .ct_choice li {position:relative; line-height:20px; margin-top:20px; padding-left:20px;}
	.ct_change .ct_choice li:first-child {margin:0;}
	.ct_change .ct_choice input[type="radio"] {position:absolute; left:0; top:5px;}
	.ct_change .ct_choice label {font-size:14px; font-weight:bold; color:#777;}
	.ct_change .ct_choice p {margin-top:10px;}
	.ct_change .ct_choice p input {width:100%; height:28px; line-height:28px\9; padding:0 10px; font-size:14px; color:#666; border:1px solid #cacaca;}
	.ct_change .btn {margin-top:30px; text-align:center;}
	.ct_change .btn a {display:inline-block; width:128px; height:36px; line-height:34px; font-weight:bold; font-size:13px; color:#28b6f6; border:1px solid #28b6f6; border-radius:2px; background:#fff; cursor:pointer;}
	.ct_change .ex_t {margin-top:75px; padding:23px; font-size:13px; border:1px solid #ccc; background:#fafafa;}
	.ct_change .ex_t dt {line-height:24px; margin-bottom:11px; font-weight:bold; color:#666;}
	.ct_change .ex_t dd {line-height:20px; color:#777;}

	.center_layer {display:none; position:fixed; left:50%; top:50px; z-index:9999999; width:600px; height:530x; margin:0 0 0 -300px; background:#fff;}
	.center_layer dl {position:relative; padding:40px;}
	.center_layer dt {line-height:40px; font-size:20px; font-weight:bold; color:#555;}
	.center_layer dd {margin-top:35px;}
	.center_layer .search_inp {*zoom:1;}
	.center_layer .search_inp:after {display:block; clear:both; content:"";}
	.center_layer .search_inp input {float:left; width:368px; height:48px; padding:0 10px; font-size:16px; color:#666; border:1px solid #cacaca;}
	.center_layer .search_inp a {float:right; width:120px; line-height:50px;  text-align:center; font-size:15px; color:#fff; border-radius:3px; background:#28b6f6; cursor:pointer;}
	.center_layer .close {position:absolute; right:40px; top:52px; cursor:pointer;}
	.center_layer .sch_before {margin:30px 0 10px; line-height:50px; text-align:center; font-size:16px; color:#fff; background:#aaa;}
	.center_layer .sch_after {margin-top:10px;}
	.center_layer .sch_after p {line-height:44px; font-size:14px; color:#777;}
	.center_layer .sch_after p b {color:#555;}
	.center_layer .sch_after .lst {position:relative;}
	.center_layer .sch_after .lst > div {max-height:220px; overflow-y:scroll;}
	.center_layer .sch_after .lst i:first-child {position:absolute; left:0; top:0; width:503px; height:1px; background:#cacaca;}
	.center_layer .sch_after .lst i:first-child+i {position:absolute; left:0; bottom:0; width:503px; height:1px; background:#cacaca;}
	.center_layer table {width:100%; letter-spacing:-1px;}
	.center_layer table th,
	.center_layer table td {padding:10px;font-size:14px; border:1px solid #cacaca;}
	.center_layer table th {color:#777; background:#f5f5f5;}
	.center_layer table td {color:#777;}
	.center_layer table th:first-child,
	.center_layer table td:first-child {width:28px; text-align:center;}
	.center_layer .sch_after span {display:block; line-height:42px; font-size:13px; color:#999;}
	.center_layer .register {display:block; width:130px; line-height:35px; margin:25px auto 10px; text-align:center; font-size:14px; color:#fff; border-radius:3px; background:#28b6f6; cursor:pointer;}



/* 이용약관, 개인정보취급방침 ---------------------------------------------------------------------- */
.agree {padding:0 50px 60px; background:#fff;}
.agree h1 {line-height:60px; font-size:20px; font-weight:bold; text-align:center; color:#555;}
.agree .top_txt {margin-top:20px; line-height:25px; font-size:15px; letter-spacing:-0.05em; color:#777;}
.agree .top_txt p {padding:20px 0 30px; color:#ff9907;}
.agree dl {line-height:30px; padding-top:40px; font-size:15px; letter-spacing:-0.05em; color:#777;}
.agree dt {position:relative; padding:10px 20px; font-weight:bold; color:#555; border:1px solid #ddd;}
.agree dt a {position:absolute; right:15px; top:50%; line-height:20px; margin-top:-10px; font-weight:normal; font-size:12px; color:#999;}
.agree dt a:hover {text-decoration:underline;}
.agree dd {padding:15px 20px; border:1px solid #ddd; border-top:0;}
.agree dd > ol > li {position:relative; padding-left:20px;}
.agree dd > ol > li > span {position:absolute; left:0; top:0;}
.agree dd > ol > li li {position:relative; padding-left:15px;}
.agree dd > ol > li li span {position:absolute; left:0; top:0;}
.agree dd a {color:#333;}
.agree dd a:hover {text-decoration:underline;}
.agree strong {font-weight:normal; text-decoration:underline;}
.agree_nav {padding:20px 30px; border:1px solid #ddd; background:#f9f9f9; *zoom:1;}
.agree_nav:after {display:block; clear:both; content:"";}
.agree_nav ul {float:left; width:50%;}
.agree_nav a {display:inline-block; line-height:30px; font-size:15px; color:#444;}
.agree_nav a:hover {text-decoration:underline;}