<!-- container -->
<section id="container" class="sub">

    <!-- 회원관리 -->
    <div class="page_tab">
        <ul class="tab">
            <li class="on"><a>회원목록</a></li>
            <li><a href="./member_expire.jsp">만료된 회원</a></li>
        </ul>

        <div class="con mb_lst">
            <!-- 트레이너 -->
            <dl class="trainer">
                <dt>트레이너<b>&#40;<i>0</i>&#41;</b></dt>
                <dd><a>홍길동</a></dd>
                <dd><a>홍미나</a></dd>
                <dd><a>김쥬쥬</a></dd>
                <dd><a>알렉스</a></dd>
                <dd><a>토마스</a></dd>
                <dd><a>요가파이아</a></dd>
                <dd><a>홍길동</a></dd>
                <dd><a>홍미나</a></dd>
                <dd><a>김쥬쥬</a></dd>
                <dd><a>알렉스</a></dd>
                <dd><a>토마스</a></dd>
                <dd><a>요가파이아</a></dd>
            </dl>

            <!-- 회원 목록 -->
            <div class="member">
                <div class="mb_top">
                    <p class="total">총 <b>140</b>명의 회원을 관리하고 있습니다.</p>
                    <div class="search">
                        <form action="" method="">
                            <label class="hide">회원 검색</label>
                            <input class="sch" type="text" id="" name="" value="" />
                            <input class="scb" type="submit" id="" name="" value="검색" />
                        </form>
                    </div>
                </div>

                <table class="tb01">
                    <thead>
                    <tr>
                        <th>이름</th>
                        <th>담당 트레이너</th>
                        <th>PT 구매횟수</th>
                        <th>잔여PT 횟수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img src="img/icon_man.gif" alt="남자 아이콘" /> <a ui-sref="detail">김일번</a></td>
                        <td>홍미나</td>
                        <td>1</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td><img src="img/icon_woman.gif" alt="여자 아이콘" /> <button ng-click="vm.detail()">김일번</button></td>
                        <td>홍미나</td>
                        <td>1</td>
                        <td>10</td>
                    </tr>

                    <!--
                    <tr>
                        <td class="empty" colspan="4">만료된 회원이 없습니다.</td>
                    </tr>
                    -->
                    </tbody>
                </table>

                <!-- 페이징 -->
                <div class="paging">
                    <a href="#" id="fst" class="fst">처음</a>
                    <a href="#" id="prev" class="prev">이전</a>
                    <strong>1</strong>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#" id="next" class="next">다음</a>
                    <a href="#" id="lst" class="lst">마지막</a>
                </div>
            </div>
        </div>
    </div>

</section>