<!-- container -->
<section id="container" class="sub">

    <!-- 회원관리 -->
    <div class="page_tab">
        <ul class="tab">
            <li class="on"><a>회원목록</a></li>
            <li><a href="./member_expire.jsp">만료된 회원</a></li>
        </ul>

        <div class="con mb_detail">

            <!-- info -->
            <div class="info">
                <%@ include file="./mb_info.jsp" %>

                <ul class="detail_tab">
                    <li class="tab1 on"><a>건강상태</a></li>
                    <li class="tab2"><a href="./mb_detail_pt.jsp">PT완료</a></li>
                    <li class="tab3"><a href="./mb_detail_buy.jsp">PT구매내역</a></li>
                </ul>
            </div>

            <!-- detail -->
            <div class="detail detail_state">
                <!-- 상단 챠트 영역 -->
                <div class="chart_box">

                    <!-- 건강온도 -->
                    <div class="ondo">
                        <h2>건강온도</h2>
                        <p class="state">82℃</p>
                        <p class="cat_img"><img src="../_img/cat_img01.jpg" alt="캣 이미지" /></p>
                    </div>

                    <!-- 건강그래프 -->
                    <div class="graph">
                        <h2>건강그래프</h2>
                        <script type="text/javascript">
                            AmCharts.makeChart("h_graph",
                                    {
                                        "type": "radar",
                                        "categoryField": "country",
                                        "radius": "30%",
                                        "backgroundColor": "#FF9954",
                                        "color": "#888",
                                        "fontSize": 13,
                                        "graphs": [
                                            {
                                                "balloonText": "[[value]] litres of beer per year",
                                                "bullet": "없음",
                                                "fillAlphas": 0.40,
                                                "id": "AmGraph-1",
                                                "lineColor": "#f6ab00",
                                                //"lineThickness": 2,
                                                "valueField": "normality"
                                            },
                                            {
                                                "fillAlphas": 0.32,
                                                "id": "AmGraph-2",
                                                "lineColor": "#24c29d",
                                                //"lineThickness": 2,
                                                "title": "graph 2",
                                                "valueField": "user"
                                            }
                                        ],
                                        "guides": [],
                                        "valueAxes": [
                                            {
                                                "axisTitleOffset": 3,
                                                "id": "ValueAxis-1",
                                                //"maximum": 150, /* 그래프 최대 수치 */
                                                "minimum": 0,
                                                "synchronizationMultiplier": 0,
                                                "totalTextOffset": -6,
                                                "autoRotateAngle": 0,
                                                "axisAlpha": 0,
                                                "fontSize": 11,
                                                "gridAlpha": 1,
                                                "gridColor": "#dddddd",
                                                "gridCount": 7,
                                                "labelOffset": 9999,
                                                "minorGridAlpha": 0
                                            }
                                        ],
                                        "allLabels": [],
                                        "balloon": {},
                                        "titles": [],
                                        "dataProvider": [
                                            {
                                                "country": "BMI",
                                                "normality": "100.0",
                                                "user": 140
                                            },
                                            {
                                                "country": "혈압",
                                                "normality": "100.0",
                                                "user": 66
                                            },
                                            {
                                                "country": "복부비만율",
                                                "normality": "100.0",
                                                "user": 73
                                            },
                                            {
                                                "country": "허리둘레",
                                                "normality": "100.0",
                                                "user": 93
                                            },
                                            {
                                                "country": "혈당",
                                                "normality": "100.0",
                                                "user": 40
                                            }
                                        ]
                                    }
                            );
                        </script>
                        <div id="h_graph" class="h_graph" style=""></div>
                    </div>

                    <!-- 비만도 설명 -->
                    <div class="ob_ex">
                        <p>
                            <b>BMI</b>가 정상보다 약 1.5 높습니다.<br />
                            <b>복부비만율</b>이 정상보다 약 2% 낮습니다.<br />
                            <b>혈압</b>이 정상보다 23 높습니다.<br />
                            <b>혈당지수</b>가 정상보다 50 높습니다.
                        </p>
                    </div>

                    <!-- 비만도평가 -->
                    <div class="ob_app">
                        <h2>
                            비만도평가
								<span class="ob_state">
									<span class="ob_state01"><i></i> 저체중</span>
                                    <!--
                                    <span class="ob_state02"><i></i> 정상</span>
                                    <span class="ob_state03"><i></i> 과체중</span>
                                    <span class="ob_state04"><i></i> 경도비만</span>
                                    <span class="ob_state05"><i></i> 고도비만</span>
                                    -->
								</span>
                        </h2>
                        <div class="in_box">
                            <dl class="chart">
                                <dt>- 회원님</dt>
                                <dd>
                                    <p class="arr" style="left:15%;"></p>
                                    <ul>
                                        <li class="ob01 on"><p>저체중</p><i>18.5</i></li>
                                        <li class="ob02"><p>정상</p><i>23</i></li>
                                        <li class="ob03"><p>과체중</p><i>25</i></li>
                                        <li class="ob04"><p>경도비만</p><i>30</i></li>
                                        <li class="ob05"><p>고도비만</p></li>
                                    </ul>
                                </dd>
                            </dl>

                            <dl class="chart">
                                <dt>- 올리고 30대 평균</dt>
                                <dd>
                                    <p class="arr" style="left:30%;"></p>
                                    <ul>
                                        <li class="ob01 on"><p>저체중</p><i>18.5</i></li>
                                        <li class="ob02"><p>정상</p><i>23</i></li>
                                        <li class="ob03"><p>과체중</p><i>25</i></li>
                                        <li class="ob04"><p>경도비만</p><i>30</i></li>
                                        <li class="ob05"><p>고도비만</p></li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <!-- BMI와 복부지방률을 분석 -->
                    <div class="ob_ana">
                        <h2>“BMI와 복부지방률을 분석 했을때”</h2>

                        <!-- 메시지1 -->
                        <div style="display:none">
                            <ul>
                                <li class="bmi">BMI <i class="down"></i></li>
                                <li class="ob">복부비만률 <i class="down"></i></li>
                            </ul>
                            <p>
                                회원님의 <b>BMI는 <span>정상</span></b>이고,<br />
                                복부비만율도 낮기 때문에, <br />
                                회원님의 <strong>비만도는 정상</strong>으로 판단됩니다.
                            <p>
                        </div>

                        <!-- 메시지2 -->
                        <div style="display:none">
                            <ul>
                                <li class="bmi">BMI <i class="up"></i></li>
                                <li class="ob">복부비만률 <i class="down"></i></li>
                            </ul>
                            <p>
                                회원님의 <b>BMI는 <span>과체중</span></b>으로 높은 편이지만,<br />
                                복부비만이 낮기 때문에, 회원님의 체질, 근육량으로 인하여 BMI가 높게 계산될 수 있습니다.<br />
                                회원님의 <strong>비만도는 정상</strong>으로 판단됩니다.
                            <p>
                        </div>

                        <!-- 메시지3 -->
                        <div style="display:none">
                            <ul>
                                <li class="bmi">BMI <i class="down"></i></li>
                                <li class="ob">복부비만률 <i class="up"></i></li>
                            </ul>
                            <p>
                                회원님의 <b>BMI는 <span>정상</span></b>이지만,<br />
                                복부비만율이 높기 때문에,<br />
                                내장 비만일 확률이 높습니다.<br />
                                회원님의 <strong>비만도는 내장비만</strong>으로 판단됩니다.
                            <p>
                        </div>

                        <!-- 메시지4 -->
                        <div style="">
                            <ul>
                                <li class="bmi">BMI <i class="up"></i></li>
                                <li class="ob">복부비만률 <i class="up"></i></li>
                            </ul>
                            <p>
                                회원님의 <b>BMI는 <span>과체중</span></b>으로 높고,<br />
                                복부비만도 높기 때문에 전체적인 체중 감량과 체지방 감량이 반드시 필요합니다.<br />
                                회원님의 <strong>비만도는 비만</strong>으로 판단됩니다.
                            <p>
                        </div>
                    </div>

                    <!-- 체중변화 -->
                    <div class="weight vcc_chart">
                        <h2>체중변화</h2>
                        <div class="in">
                            <!-- 왼쪽 그래프 -->
                            <div class="lft">
                                <!-- 주 -->
                                <div class="chart_ce">
                                    <script type="text/javascript">
                                        AmCharts.makeChart("weight_week",
                                                {
                                                    "type": "serial",
                                                    "categoryField": "category",
                                                    "columnSpacing": 1,
                                                    "dataDateFormat": "YYYY-MM-DD",
                                                    "colors": [
                                                        "#28b6f6" //그래프컬러
                                                    ],
                                                    "fontSize": 12,
                                                    "color": "#888888",
                                                    "autoMarginOffset": 0,
                                                    "marginBottom": 0,
                                                    "marginLeft": 0,
                                                    "marginRight": 0,
                                                    "marginTop": 0,
                                                    "categoryAxis": {
                                                        "boldPeriodBeginning": false,
                                                        "dateFormats": [
                                                            {
                                                                "period": "fff",
                                                                "format": "JJ:NN:SS"
                                                            },
                                                            {
                                                                "period": "ss",
                                                                "format": "JJ:NN:SS"
                                                            },
                                                            {
                                                                "period": "mm",
                                                                "format": "JJ:NN"
                                                            },
                                                            {
                                                                "period": "hh",
                                                                "format": "JJ:NN"
                                                            },
                                                            {
                                                                "period": "DD",
                                                                "format": "D일"
                                                            },
                                                            {
                                                                "period": "WW",
                                                                "format": "MMM DD"
                                                            },
                                                            {
                                                                "period": "MM",
                                                                "format": "M월"
                                                            },
                                                            {
                                                                "period": "YYYY",
                                                                "format": "YYYY"
                                                            }
                                                        ],
                                                        "gridPosition": "start",
                                                        "markPeriodChange": false,
                                                        "minPeriod": "DD", //일
                                                        "parseDates": true,
                                                        "axisColor": "#FFFFFF",
                                                        "gridThickness": 0,
                                                        "minHorizontalGap": 20, //값 요약안되게
                                                        "showFirstLabel": false,
                                                        "showLastLabel": false,
                                                        "tickLength": 0
                                                    },
                                                    "chartCursor": {
                                                        "enabled": true,
                                                        "categoryBalloonDateFormat": "YY년 MM월 DD일"
                                                    },
                                                    "trendLines": [],
                                                    "graphs": [
                                                        {
                                                            "columnWidth": 0.05,
                                                            "fillAlphas": 1,
                                                            "id": "AmGraph-1",
                                                            "title": "graph 1",
                                                            "labelOffset": 5, //값 라벨 위치값
                                                            "labelText": "[[value]]", //값 라벨 노출값
                                                            "fontSize":"13", //라벨 사이즈
                                                            "color": "#fe7143", //라벨컬러
                                                            "type": "column",
                                                            "valueField": "column-1"
                                                        }
                                                    ],
                                                    "guides": [],
                                                    "valueAxes": [
                                                        {
                                                            "id": "ValueAxis-1",
                                                            "axisThickness": 0,
                                                            "gridThickness": 0,
                                                            "labelsEnabled": false,
                                                            "tickLength": 0,
                                                            "title": ""
                                                        }
                                                    ],
                                                    "allLabels": [],
                                                    "balloon": {},
                                                    "titles": [
                                                        {
                                                            "id": "Title-1",
                                                            "size": 15,
                                                            "text": ""
                                                        }
                                                    ],
                                                    "dataProvider": [
                                                        {
                                                            "category": "2014-03-01",
                                                            "column-1": 8
                                                        },
                                                        {
                                                            "category": "2014-03-02",
                                                            "column-1": 16
                                                        },
                                                        {
                                                            "category": "2014-03-03",
                                                            "column-1": 2
                                                        },
                                                        {
                                                            "category": "2014-03-04",
                                                            "column-1": 7
                                                        },
                                                        {
                                                            "category": "2014-03-05",
                                                            "column-1": 5
                                                        },
                                                        {
                                                            "category": "2014-03-06",
                                                            "column-1": 9
                                                        },
                                                        {
                                                            "category": "2014-03-07",
                                                            "column-1": 4
                                                        }
                                                    ]
                                                }
                                        );
                                    </script>
                                    <div id="weight_week" class="chart_area"></div>
                                </div>
                            </div>
                            <!-- 오른쪽 그래프 -->
                            <div class="rgt">
                                <div class="bar_graph">
                                    <dl class="user">
                                        <dt>회원님</dt>
                                        <dd style="width:50%;"><b><i>65</i>kg</b></dd>
                                    </dl>
                                    <dl class="aver">
                                        <dt>올리고 30대 평균</dt>
                                        <dd style="width:50%;"><b><i>70</i>kg</b></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 활동량 -->
                    <div class="move vcc_chart">
                        <h2>활동량</h2>
                        <div class="in">
                            <!-- 왼쪽 그래프 -->
                            <div class="lft">
                                <ul class="chart_tab">
                                    <li>주</li>
                                    <li>월</li>
                                </ul>
                                <!-- 주 -->
                                <div class="chart_ce">
                                    <script type="text/javascript">
                                        AmCharts.makeChart("move_week",
                                                {
                                                    "type": "serial",
                                                    "categoryField": "category",
                                                    "columnSpacing": 1,
                                                    "dataDateFormat": "YYYY-MM-DD",
                                                    "colors": [
                                                        "#28b6f6" //그래프컬러
                                                    ],
                                                    "fontSize": 12,
                                                    "color": "#888888",
                                                    "autoMarginOffset": 0,
                                                    "marginBottom": 0,
                                                    "marginLeft": 0,
                                                    "marginRight": 0,
                                                    "marginTop": 0,
                                                    "categoryAxis": {
                                                        "boldPeriodBeginning": false,
                                                        "dateFormats": [
                                                            {
                                                                "period": "fff",
                                                                "format": "JJ:NN:SS"
                                                            },
                                                            {
                                                                "period": "ss",
                                                                "format": "JJ:NN:SS"
                                                            },
                                                            {
                                                                "period": "mm",
                                                                "format": "JJ:NN"
                                                            },
                                                            {
                                                                "period": "hh",
                                                                "format": "JJ:NN"
                                                            },
                                                            {
                                                                "period": "DD",
                                                                "format": "D일"
                                                            },
                                                            {
                                                                "period": "WW",
                                                                "format": "MMM DD"
                                                            },
                                                            {
                                                                "period": "MM",
                                                                "format": "M월"
                                                            },
                                                            {
                                                                "period": "YYYY",
                                                                "format": "YYYY"
                                                            }
                                                        ],
                                                        "gridPosition": "start",
                                                        "markPeriodChange": false,
                                                        "minPeriod": "DD", //일
                                                        "parseDates": true,
                                                        "axisColor": "#FFFFFF",
                                                        "gridThickness": 0,
                                                        "minHorizontalGap": 20, //값 요약안되게
                                                        "showFirstLabel": false,
                                                        "showLastLabel": false,
                                                        "tickLength": 0
                                                    },
                                                    "chartCursor": {
                                                        "enabled": true,
                                                        "categoryBalloonDateFormat": "YY년 MM월 DD일"
                                                    },
                                                    "trendLines": [],
                                                    "graphs": [
                                                        {
                                                            "columnWidth": 0.05,
                                                            "fillAlphas": 1,
                                                            "id": "AmGraph-1",
                                                            "title": "graph 1",
                                                            "labelOffset": 5, //값 라벨 위치값
                                                            "labelText": "[[value]]", //값 라벨 노출값
                                                            "fontSize":"13", //라벨 사이즈
                                                            "color": "#fe7143", //라벨컬러
                                                            "type": "column",
                                                            "valueField": "column-1"
                                                        }
                                                    ],
                                                    "guides": [],
                                                    "valueAxes": [
                                                        {
                                                            "id": "ValueAxis-1",
                                                            "axisThickness": 0,
                                                            "gridThickness": 0,
                                                            "labelsEnabled": false,
                                                            "tickLength": 0,
                                                            "title": ""
                                                        }
                                                    ],
                                                    "allLabels": [],
                                                    "balloon": {},
                                                    "titles": [
                                                        {
                                                            "id": "Title-1",
                                                            "size": 15,
                                                            "text": ""
                                                        }
                                                    ],
                                                    "dataProvider": [
                                                        {
                                                            "category": "2014-03-01",
                                                            "column-1": 8
                                                        },
                                                        {
                                                            "category": "2014-03-02",
                                                            "column-1": 16
                                                        },
                                                        {
                                                            "category": "2014-03-03",
                                                            "column-1": 2
                                                        },
                                                        {
                                                            "category": "2014-03-04",
                                                            "column-1": 7
                                                        },
                                                        {
                                                            "category": "2014-03-05",
                                                            "column-1": 5
                                                        },
                                                        {
                                                            "category": "2014-03-06",
                                                            "column-1": 9
                                                        },
                                                        {
                                                            "category": "2014-03-07",
                                                            "column-1": 4
                                                        }
                                                    ]
                                                }
                                        );
                                    </script>
                                    <div id="move_week" class="chart_area"></div>
                                </div>
                                <!-- 월 -->
                                <div class="chart_ce">
                                    <script type="text/javascript">
                                        AmCharts.makeChart("move_year",
                                                {
                                                    "type": "serial",
                                                    "categoryField": "category",
                                                    "columnSpacing": 1,
                                                    "dataDateFormat": "YYYY-MM-DD",
                                                    "colors": [
                                                        "#28b6f6" //그래프컬러
                                                    ],
                                                    "fontSize": 12,
                                                    "color": "#888888",
                                                    "autoMarginOffset": 0,
                                                    "marginBottom": 0,
                                                    "marginLeft": 0,
                                                    "marginRight": 0,
                                                    "marginTop": 0,
                                                    "categoryAxis": {
                                                        "boldPeriodBeginning": false,
                                                        "dateFormats": [
                                                            {
                                                                "period": "fff",
                                                                "format": "JJ:NN:SS"
                                                            },
                                                            {
                                                                "period": "ss",
                                                                "format": "JJ:NN:SS"
                                                            },
                                                            {
                                                                "period": "mm",
                                                                "format": "JJ:NN"
                                                            },
                                                            {
                                                                "period": "hh",
                                                                "format": "JJ:NN"
                                                            },
                                                            {
                                                                "period": "DD",
                                                                "format": "D일"
                                                            },
                                                            {
                                                                "period": "WW",
                                                                "format": "MMM DD"
                                                            },
                                                            {
                                                                "period": "MM",
                                                                "format": "M월"
                                                            },
                                                            {
                                                                "period": "YYYY",
                                                                "format": "YYYY"
                                                            }
                                                        ],
                                                        "gridPosition": "start",
                                                        "markPeriodChange": false,
                                                        "minPeriod": "MM", //월
                                                        "parseDates": true,
                                                        "axisColor": "#FFFFFF",
                                                        "gridThickness": 0,
                                                        "minHorizontalGap": 20, //값 요약안되게
                                                        "showFirstLabel": false,
                                                        "showLastLabel": false,
                                                        "tickLength": 0
                                                    },
                                                    "chartCursor": {
                                                        "enabled": true,
                                                        "categoryBalloonDateFormat": "YY년 MM월 DD일"
                                                    },
                                                    "trendLines": [],
                                                    "graphs": [
                                                        {
                                                            "columnWidth": 0.05,
                                                            "fillAlphas": 1,
                                                            "id": "AmGraph-1",
                                                            "title": "graph 1",
                                                            "labelOffset": 5, //값 라벨 위치값
                                                            "labelText": "[[value]]", //값 라벨 노출값
                                                            "fontSize":"13", //라벨 사이즈
                                                            "color": "#fe7143", //라벨컬러
                                                            "type": "column",
                                                            "valueField": "column-1"
                                                        }
                                                    ],
                                                    "guides": [],
                                                    "valueAxes": [
                                                        {
                                                            "id": "ValueAxis-1",
                                                            "axisThickness": 0,
                                                            "gridThickness": 0,
                                                            "labelsEnabled": false,
                                                            "tickLength": 0,
                                                            "title": ""
                                                        }
                                                    ],
                                                    "allLabels": [],
                                                    "balloon": {},
                                                    "titles": [
                                                        {
                                                            "id": "Title-1",
                                                            "size": 15,
                                                            "text": ""
                                                        }
                                                    ],
                                                    "dataProvider": [
                                                        {
                                                            "category": "2014-01-01",
                                                            "column-1": 8
                                                        },
                                                        {
                                                            "category": "2014-02-01",
                                                            "column-1": 8
                                                        },
                                                        {
                                                            "category": "2014-03-01",
                                                            "column-1": 8
                                                        },
                                                        {
                                                            "category": "2014-04-02",
                                                            "column-1": 16
                                                        },
                                                        {
                                                            "category": "2014-05-03",
                                                            "column-1": 2
                                                        },
                                                        {
                                                            "category": "2014-06-04",
                                                            "column-1": 7
                                                        },
                                                        {
                                                            "category": "2014-07-05",
                                                            "column-1": 5
                                                        },
                                                        {
                                                            "category": "2014-08-06",
                                                            "column-1": 9
                                                        },
                                                        {
                                                            "category": "2014-09-07",
                                                            "column-1": 4
                                                        },
                                                        {
                                                            "category": "2014-10-08",
                                                            "column-1": 15
                                                        },
                                                        {
                                                            "category": "2014-11-09",
                                                            "column-1": 12
                                                        },
                                                        {
                                                            "category": "2014-12-10",
                                                            "column-1": 17
                                                        }
                                                    ]
                                                }
                                        );
                                    </script>
                                    <div id="move_year" class="chart_area"></div>
                                </div>
                            </div>
                            <!-- 오른쪽 그래프 -->
                            <div class="rgt">
                                <div class="day_week">
                                    <p>오늘 걸음수 : 8,503</p>
                                    <p>이번주 평균 걸음수 : 8,503</p>
                                </div>
                                <div class="bar_graph">
                                    <dl class="user">
                                        <dt>회원님</dt>
                                        <dd style="width:50%;"><b><i>8,503</i></b></dd>
                                    </dl>
                                    <dl class="aver">
                                        <dt>올리고 30대 평균</dt>
                                        <dd style="width:50%;"><b><i>12,345</i></b></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 수면량 -->
                    <div class="sleep vcc_chart">
                        <h2>수면량</h2>
                        <div class="in">
                            <!-- 왼쪽 그래프 -->
                            <div class="lft">
                                <ul class="chart_tab">
                                    <li>주</li>
                                    <li>월</li>
                                </ul>
                                <!-- 주 -->
                                <div class="chart_ce">
                                    <script type="text/javascript">
                                        AmCharts.makeChart("sleep_week",
                                                {
                                                    "type": "serial",
                                                    "categoryField": "category",
                                                    "columnSpacing": 1,
                                                    "dataDateFormat": "YYYY-MM-DD",
                                                    "colors": [
                                                        "#28b6f6" //그래프컬러
                                                    ],
                                                    "fontSize": 12,
                                                    "color": "#888888",
                                                    "autoMarginOffset": 0,
                                                    "marginBottom": 0,
                                                    "marginLeft": 0,
                                                    "marginRight": 0,
                                                    "marginTop": 0,
                                                    "categoryAxis": {
                                                        "boldPeriodBeginning": false,
                                                        "dateFormats": [
                                                            {
                                                                "period": "fff",
                                                                "format": "JJ:NN:SS"
                                                            },
                                                            {
                                                                "period": "ss",
                                                                "format": "JJ:NN:SS"
                                                            },
                                                            {
                                                                "period": "mm",
                                                                "format": "JJ:NN"
                                                            },
                                                            {
                                                                "period": "hh",
                                                                "format": "JJ:NN"
                                                            },
                                                            {
                                                                "period": "DD",
                                                                "format": "D일"
                                                            },
                                                            {
                                                                "period": "WW",
                                                                "format": "MMM DD"
                                                            },
                                                            {
                                                                "period": "MM",
                                                                "format": "M월"
                                                            },
                                                            {
                                                                "period": "YYYY",
                                                                "format": "YYYY"
                                                            }
                                                        ],
                                                        "gridPosition": "start",
                                                        "markPeriodChange": false,
                                                        "minPeriod": "DD", //일
                                                        "parseDates": true,
                                                        "axisColor": "#FFFFFF",
                                                        "gridThickness": 0,
                                                        "minHorizontalGap": 20, //값 요약안되게
                                                        "showFirstLabel": false,
                                                        "showLastLabel": false,
                                                        "tickLength": 0
                                                    },
                                                    "chartCursor": {
                                                        "enabled": true,
                                                        "categoryBalloonDateFormat": "YY년 MM월 DD일"
                                                    },
                                                    "trendLines": [],
                                                    "graphs": [
                                                        {
                                                            "columnWidth": 0.05,
                                                            "fillAlphas": 1,
                                                            "id": "AmGraph-1",
                                                            "title": "graph 1",
                                                            "labelOffset": 5, //값 라벨 위치값
                                                            "labelText": "[[value]]", //값 라벨 노출값
                                                            "fontSize":"13", //라벨 사이즈
                                                            "color": "#fe7143", //라벨컬러
                                                            "type": "column",
                                                            "valueField": "column-1"
                                                        }
                                                    ],
                                                    "guides": [],
                                                    "valueAxes": [
                                                        {
                                                            "id": "ValueAxis-1",
                                                            "axisThickness": 0,
                                                            "gridThickness": 0,
                                                            "labelsEnabled": false,
                                                            "tickLength": 0,
                                                            "title": ""
                                                        }
                                                    ],
                                                    "allLabels": [],
                                                    "balloon": {},
                                                    "titles": [
                                                        {
                                                            "id": "Title-1",
                                                            "size": 15,
                                                            "text": ""
                                                        }
                                                    ],
                                                    "dataProvider": [
                                                        {
                                                            "category": "2014-03-01",
                                                            "column-1": 8
                                                        },
                                                        {
                                                            "category": "2014-03-02",
                                                            "column-1": 16
                                                        },
                                                        {
                                                            "category": "2014-03-03",
                                                            "column-1": 2
                                                        },
                                                        {
                                                            "category": "2014-03-04",
                                                            "column-1": 7
                                                        },
                                                        {
                                                            "category": "2014-03-05",
                                                            "column-1": 5
                                                        },
                                                        {
                                                            "category": "2014-03-06",
                                                            "column-1": 9
                                                        },
                                                        {
                                                            "category": "2014-03-07",
                                                            "column-1": 4
                                                        }
                                                    ]
                                                }
                                        );
                                    </script>
                                    <div id="sleep_week" class="chart_area"></div>
                                </div>
                                <!-- 월 -->
                                <div class="chart_ce">
                                    <script type="text/javascript">
                                        AmCharts.makeChart("sleep_year",
                                                {
                                                    "type": "serial",
                                                    "categoryField": "category",
                                                    "columnSpacing": 1,
                                                    "dataDateFormat": "YYYY-MM-DD",
                                                    "colors": [
                                                        "#28b6f6" //그래프컬러
                                                    ],
                                                    "fontSize": 12,
                                                    "color": "#888888",
                                                    "autoMarginOffset": 0,
                                                    "marginBottom": 0,
                                                    "marginLeft": 0,
                                                    "marginRight": 0,
                                                    "marginTop": 0,
                                                    "categoryAxis": {
                                                        "boldPeriodBeginning": false,
                                                        "dateFormats": [
                                                            {
                                                                "period": "fff",
                                                                "format": "JJ:NN:SS"
                                                            },
                                                            {
                                                                "period": "ss",
                                                                "format": "JJ:NN:SS"
                                                            },
                                                            {
                                                                "period": "mm",
                                                                "format": "JJ:NN"
                                                            },
                                                            {
                                                                "period": "hh",
                                                                "format": "JJ:NN"
                                                            },
                                                            {
                                                                "period": "DD",
                                                                "format": "D일"
                                                            },
                                                            {
                                                                "period": "WW",
                                                                "format": "MMM DD"
                                                            },
                                                            {
                                                                "period": "MM",
                                                                "format": "M월"
                                                            },
                                                            {
                                                                "period": "YYYY",
                                                                "format": "YYYY"
                                                            }
                                                        ],
                                                        "gridPosition": "start",
                                                        "markPeriodChange": false,
                                                        "minPeriod": "MM", //월
                                                        "parseDates": true,
                                                        "axisColor": "#FFFFFF",
                                                        "gridThickness": 0,
                                                        "minHorizontalGap": 20, //값 요약안되게
                                                        "showFirstLabel": false,
                                                        "showLastLabel": false,
                                                        "tickLength": 0
                                                    },
                                                    "chartCursor": {
                                                        "enabled": true,
                                                        "categoryBalloonDateFormat": "YY년 MM월 DD일"
                                                    },
                                                    "trendLines": [],
                                                    "graphs": [
                                                        {
                                                            "columnWidth": 0.05,
                                                            "fillAlphas": 1,
                                                            "id": "AmGraph-1",
                                                            "title": "graph 1",
                                                            "labelOffset": 5, //값 라벨 위치값
                                                            "labelText": "[[value]]", //값 라벨 노출값
                                                            "fontSize":"13", //라벨 사이즈
                                                            "color": "#fe7143", //라벨컬러
                                                            "type": "column",
                                                            "valueField": "column-1"
                                                        }
                                                    ],
                                                    "guides": [],
                                                    "valueAxes": [
                                                        {
                                                            "id": "ValueAxis-1",
                                                            "axisThickness": 0,
                                                            "gridThickness": 0,
                                                            "labelsEnabled": false,
                                                            "tickLength": 0,
                                                            "title": ""
                                                        }
                                                    ],
                                                    "allLabels": [],
                                                    "balloon": {},
                                                    "titles": [
                                                        {
                                                            "id": "Title-1",
                                                            "size": 15,
                                                            "text": ""
                                                        }
                                                    ],
                                                    "dataProvider": [
                                                        {
                                                            "category": "2014-01-01",
                                                            "column-1": 8
                                                        },
                                                        {
                                                            "category": "2014-02-01",
                                                            "column-1": 8
                                                        },
                                                        {
                                                            "category": "2014-03-01",
                                                            "column-1": 8
                                                        },
                                                        {
                                                            "category": "2014-04-02",
                                                            "column-1": 16
                                                        },
                                                        {
                                                            "category": "2014-05-03",
                                                            "column-1": 2
                                                        },
                                                        {
                                                            "category": "2014-06-04",
                                                            "column-1": 7
                                                        },
                                                        {
                                                            "category": "2014-07-05",
                                                            "column-1": 5
                                                        },
                                                        {
                                                            "category": "2014-08-06",
                                                            "column-1": 9
                                                        },
                                                        {
                                                            "category": "2014-09-07",
                                                            "column-1": 4
                                                        },
                                                        {
                                                            "category": "2014-10-08",
                                                            "column-1": 15
                                                        },
                                                        {
                                                            "category": "2014-11-09",
                                                            "column-1": 12
                                                        },
                                                        {
                                                            "category": "2014-12-10",
                                                            "column-1": 17
                                                        }
                                                    ]
                                                }
                                        );
                                    </script>
                                    <div id="sleep_year" class="chart_area"></div>
                                </div>
                            </div>
                            <!-- 오른쪽 그래프 -->
                            <div class="rgt">
                                <div class="day_week">
                                    <p>오늘 수면량 : 7.2</p>
                                    <p>이번주 평균 수면량 : 5.2</p>
                                </div>
                                <div class="bar_graph">
                                    <dl class="user">
                                        <dt>회원님</dt>
                                        <dd style="width:50%;"><b><i>5.2</i>시간</b></dd>
                                    </dl>
                                    <dl class="aver">
                                        <dt>올리고 30대 평균</dt>
                                        <dd style="width:50%;"><b><i>12.0</i>시간</b></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //상단 챠트 영역 -->

                <!-- 인바디 측정 비교 -->
                <div class="in_body">
                    <h2>인바디 측정 비교</h2>
                    <table class="tb01">
                        <caption>인바디 측정 비교</caption>
                        <colgroup>
                            <col width="20%" />
                            <col width="*" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th colspan="2"></th>
                            <th>2016년 1월 25일</th>
                            <th>2015년 12월 15일</th>
                            <th>2015년 12월 1일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th rowspan="3">골격근 · 지방</th>
                            <th>체중</th>
                            <td>65</td>
                            <td>60</td>
                            <td>68</td>
                        </tr>
                        <tr>
                            <th>골격근량</th>
                            <td>28.1</td>
                            <td>28.1</td>
                            <td>28.1</td>
                        </tr>
                        <tr>
                            <th>체지방량</th>
                            <td>9.9</td>
                            <td>9.9</td>
                            <td>9.9</td>
                        </tr>

                        <tr>
                            <th rowspan="3"><span>비만진단</span></th>
                            <th><span>BMI</span></th>
                            <td><span>22.5</span></td>
                            <td><span>18.5</span></td>
                            <td><span>0.84</span></td>
                        </tr>
                        <tr>
                            <th>체지방률</th>
                            <td>18.5</td>
                            <td>18.5</td>
                            <td>0.84</td>
                        </tr>
                        <tr>
                            <th>복부지방률</th>
                            <td>22.5</td>
                            <td>18.5</td>
                            <td>0.84</td>
                        </tr>

                        <tr>
                            <th colspan="2">기초대사량</th>
                            <td>1618</td>
                            <td>1818</td>
                            <td>2014</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- PT 내역 조회 -->
                <div class="pt_history">
                    <h2>PT 내역 조회</h2>
                    <table class="tb01">
                        <caption>PT 내역 조회</caption>
                        <colgroup>
                            <col width="20%" />
                            <col width="*" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th>PT 내역</th>
                            <th>PT 일지</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>2016년 1월 15일<br />- 18시</th>
                            <td>
                                <p>
                                    <b>상체운동 위주</b><br />
											<span>
												레터럴 레이즈 - 15회 3Set<br />
												덤벨 암컬 - 15회 3Set<br />
												바벨 스쿼트 - 15회 2Set
											</span>
                                </p>
                                <p>
                                    <b>특이사항</b><br />
											<span>
												덤벨 무게 1.5kg / 바벨 - 무게를 달지 않고 바만 들어서 운동함
											</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>2016년 1월 15일<br />- 18시</th>
                            <td>
                                <p>
                                    <b>상체운동 위주</b><br />
											<span>
												레터럴 레이즈 - 15회 3Set<br />
												덤벨 암컬 - 15회 3Set<br />
												바벨 스쿼트 - 15회 2Set
											</span>
                                </p>
                                <p>
                                    <b>특이사항</b><br />
											<span>
												덤벨 무게 1.5kg / 바벨 - 무게를 달지 않고 바만 들어서 운동함
											</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>2016년 1월 15일<br />- 18시</th>
                            <td>
                                <p>
                                    <b>상체운동 위주</b><br />
											<span>
												레터럴 레이즈 - 15회 3Set<br />
												덤벨 암컬 - 15회 3Set<br />
												바벨 스쿼트 - 15회 2Set
											</span>
                                </p>
                                <p>
                                    <b>특이사항</b><br />
											<span>
												덤벨 무게 1.5kg / 바벨 - 무게를 달지 않고 바만 들어서 운동함
											</span>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</section>