<!-- container -->
<div id="login_con" class="login_html wrap login_wrap login">
    <h1><img src="img/login_logo.png" alt="올리고짐" /></h1>
    <p class="ex">Olleego Gym에 로그인 하세요.</p>

    <div class="login_box">
        <form name="signForm" ng-submit="vm.submit(signForm.$valid,sig)">
            <!-- center 로그인 -->
            <section class="center">
                <h2>센터회원</h2>
                <p class="id">
                    <i>아이디</i>
                    <input type="text" ng-model="sig.biz_num" placeholder="아이디는 사업자 번호입니다." ng-required="true"/>
                </p>
                <p class="pw">
                    <i>비밀번호</i>
                    <input type="password" ng-model="sig.password" placeholder="비밀번호를 입력해주세요" ng-required="true"/>
                </p>
                <div class="save_id">
                    <!--<input type="checkbox" id="save_id" name="" /><label for="save_id">아이디저장</label>-->
                    <md-checkbox><label>아이디저장</label></md-checkbox>
                    <!--<a href="#">임시비밀번호 발급</a>-->
                    <md-checkbox><label>임시비밀번호 발급</label></md-checkbox>
                </div>
                <input class="login_btn" type="submit" value="로그인" ng-disabled="vm.disable" />
            </section>

            <!-- trainer 로그인 -->
            <section class="trainer">
                <h2>트레이너 회원</h2>
                <p><a class="fbook" href=""><i></i>Facebook 계정으로 로그인</a></p>
                <p><a class="kakao" href=""><i></i>Kakaotalk 계정으로 로그인</a></p>
            </section>
        </form>
    </div>
</div>