<ul class="bxslider lst">
<li ng-repeat="chart in charts" data-notify-when-repeat-finished >
  <div class="thum_box">
    <p class="thum">
      <img src={{chart.image}} />
      <span class="mask"></span>
    </p>
    <p class="name">홍길동{{$index}}</p>
  </div>
  <div class="chart" id="chart{{$index+1}}" style="height: 60px">

  </div>
</li>
</ul>
<li>

  <!--<div class="chart">
    <p class="num"><i></i><span>214</span></p>&lt;!&ndash; 회원수 &ndash;&gt;
    <p class="comp"><i></i><span>150</span></p>&lt;!&ndash; PT 완료 &ndash;&gt;
    <p class="reserv"><i></i><span>10</span></p>&lt;!&ndash; PT 예약 &ndash;&gt;
  </div>-->
</li>


<!--
<div class="row pie-charts" style="height: 100px">
  <div class="pie-chart-item-container" ng-repeat="chart in charts" style="height: 100px">
    <div>
      <div class="pie-chart-item">


        </div>
        &lt;!&ndash;<div class="chart" id="chart{{$index}}" data-percent="60"> <span class="percent"></span> </div>
        <div class="description">
          <div>{{ ::chart.description }}</div>
          <div class="description-stats">{{ ::chart.stats }}</div>
        </div>
        <i class="chart-icon i-{{ ::chart.icon }}"></i>&ndash;&gt;
      </div>
    </div>
  </div>
</div>-->
