
<ion-view>
    <ion-content scroll="false" layout="column" class="has-header">
        <div class="text-center">
            <span class="circle">Olleego</span>
        </div>
        <form name="resetForm" ng-submit="vm.reset(credentials, resetForm.$valid)">
            <md-content class="md-padding">
                <md-input-container md-no-float>
                    <md-icon md-svg-src="img/icons/ic_mail_24px.svg" class="md-default-theme" aria-hidden="true">
                        <i class="icon ion-email"></i>
                    </md-icon>
                    <input ng-model="credentials.email" type="email" name="email" placeholder="Email" ng-required="true">
                    <div ng-if="resetForm.email.$invalid && resetForm.email.$dirty" ng-messages="resetForm.email.$error" class="messages">
                        <div ng-message="email">잘못된 이메일 입니다.</div>
                    </div>
                </md-input-container>
            </md-content>
            <div class="padding">
                <button type="submit" class="button button-block md-raised md-primary md-button md-default-theme" ng-disabled="vm.disable">
                    비밀번호 리셋
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
