<div class="wrap">
    <!-- header -->
    <header id="header">
        <h1><a href="../home/">올리고짐</a></h1>
        <nav class="gnb">
            <ul>
                <li class="gnb01"><a href="#/dashboard"><i></i>Dashboard</a></li>
                <li class="gnb02"><a href="#/members"><i></i>회원관리</a></li>
                <li class="gnb03"><a href="../pt_adm/pt_adm.jsp"><i></i>PT 관리</a></li>
                <li class="gnb04"><a href="../state/monthly_sales.jsp"><i></i>정산/통계관리</a></li>
                <li class="gnb05"><a href="../trn_adm/trn_adm.jsp"><i></i>트레이너관리</a></li>
                <li class="gnb06"><a href="../trn_adm/trn_adm.jsp"><i></i>정보 수정하기</a></li>
                <li class="gnb07"><a href="../agree/agreement.jsp"><i></i>이용약관</a></li>
                <li class="gnb08"><a href="../agree/privacy.jsp"><i></i>개인정보취급방침</a></li>
            </ul>
        </nav>
        <nav class="lnb">
            <ul>
                <li class="report"><a class="layer_bt" ng-click="vm.alClick()">알림<span class="count">{{vm.alarm.length}}</span></a></li>
                <li class="reserv"><a class="layer_bt">예약 요청<span class="count">00</span></a></li>
                <!-- 트레이너 로그인 시 '홍길동 트레이너' -->
                <li class="center">십이지 휘트니스센터<a class="layer_bt setting" > - 환경설정</a></li>
            </ul>
        </nav>
        <h2>올리고짐</h2>
        <aside>
            <a href="../agree/agreement.jsp">이용약관</a>
            <a href="../agree/privacy.jsp">개인정보취급방침</a>
        </aside>

        <!-- 상단 레이어 -->
        <div class="layer_group">

            <!-- 알림 -->
            <div class="hd_layer report_layer">
                <div class="btn">
                    <a>모두읽음</a>
                    <span>|</span>
                    <a>전체삭제</a>
                </div>
                <ul class="lst">
                    <li class="not_read" ng-repeat="item in vm.alarm">
                        <p class="date">{{item.date}}</p>
                        <p class="con" >{{item.con}}</p>
                        <a class="del">삭제</a>
                    </li>
                   <!-- <li class="not_read">
                        <p class="date">00/00</p>
                        <p class="con">홍미나, 김쥬쥬, 김마리아 트레이너가</p>
                        <a class="del">삭제</a>
                    </li>
                    <li class="not_read">
                        <p class="date">00/00</p>
                        <p class="con">홍미나, 김쥬쥬, 김마리아 트레이너가 14시 PT를 완료 하였습니다.</p>
                        <a class="del">삭제</a>
                    </li>
                    <li class="read">
                        <p class="date">00/00</p>
                        <p class="con">홍미나, 김쥬쥬, 김마리아 트레이너가 14시 PT를 완료 하였습니다.</p>
                        <a class="del">삭제</a>
                    </li>
                    <li class="read">
                        <p class="date">00/00</p>
                        <p class="con">홍미나, 김쥬쥬, 김마리아 트레이너가</p>
                        <a class="del">삭제</a>
                    </li>
                    <li class="read">
                        <p class="date">00/00</p>
                        <p class="con">홍미나, 김쥬쥬, 김마리아 트레이너가 14시 PT를 완료 하였습니다.</p>
                        <a class="del">삭제</a>
                    </li>-->
                </ul>
            </div>

            <!-- 에약 요청 -->
            <div class="hd_layer reserv_layer">
                <div class="in">
                    <div class="tit">
                        <p>예약된 스케쥴입니다.</p>
                        <a>날짜변경 및 월별현황</a>
                    </div>
                    <ul class="lst_hd">
                        <li class="first"><b>2016년</b><span>2월</span></li>
                        <li><b>MON</b><span>25일</span></li>
                        <li><b>TUE</b><span>26일</span></li>
                        <li><b>WED</b><span>27일</span></li>
                        <li><b>THU</b><span>28일</span></li>
                        <li class="on"><b>FRI</b><span>29일</span></li>
                        <li><b>SAT</b><span>30일</span></li>
                        <li><b>SUN</b><span>31일</span></li>
                    </ul>
                    <div class="lst_bd">
                        <ul class="time07">
                            <li><i>07:00</i></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li></li>
                            <li></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="time08">
                            <li><i>08:00</i></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="time09">
                            <li><i>09:00</i></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li></li>
                            <li></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                        </ul>
                        <ul class="time10">
                            <li><i>10:00</i></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="time11">
                            <li><i>11:00</i></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="time12">
                            <li><i>12:00</i></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="time13">
                            <li><i>13:00</i></li>
                            <li></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="time14">
                            <li><i>14:00</i></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                        </ul>
                        <ul class="time15">
                            <li><i>15:00</i></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="time16">
                            <li><i>16:00</i></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                        </ul>
                        <ul class="time17">
                            <li><i>17:00</i></li>
                            <li></li>
                            <li></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="time18">
                            <li><i>18:00</i></li>
                            <li><p class="reserb"><b>김일원</b><span>(홍미나T)</span></p></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 설정 -->
            <div class="hd_layer setting_layer">
                <div class="info">
                    <p class="thum"><img src="../img/center_img_sample.jpg" alt="샘플 이미지" /></p>
                    <p class="name">십이지 휘트니스 센터</p><!-- 홍길동 트레이너 -->
                    <p class="date">
                        <span class="join">가입일 :{{vm.center.created}}</span>
                        <span class="app">승인일 : {{vm.center.created}}</span>
                    </p>
                    <a class="revise" href="../cg_info/cg_info.jsp">센터정보 수정</a>
                    <a class="logout" ng-click="vm.logout()">로그아웃</a>
                </div>
                <form ng-submit="vm.submit()">
                    <!-- 센터 설정 -->
                    <div style="">
                        <fieldset>
                            <dl>
                                <dt>&#45; 비밀번호 변경</dt>
                                <dd>
                                    <p>
                                        <label class="lb">비밀번호</label>
                                        <input type="text" placeholder="변경하실 비밀번호를 입력하세요." ng-model='vm.change.password1'/>
                                    </p>
                                    <p>
                                        <label class="lb">비밀번호 확인</label>
                                        <input type="text" placeholder="비밀번호 확인"  ng-model='vm.change.password2'/>
                                    </p>
                                </dd>
                            </dl>
                            <dl>
                                <dt>&#45; 담당자 변경</dt>
                                <dd>
                                    <p>
                                        <label class="lb">담당자 이름</label>
                                        <input type="text" ng-model='vm.center.name' />
                                    </p>
                                    <p>
                                        <label class="lb">이메일 주소</label>
                                        <input type="text" ng-model='vm.center.email'/>
                                        <!--<select>
                                            <option>직접입력</option>
                                        </select>
                                        <input type="text" id="" name="" value="" placeholder="직접입력" />-->
                                    </p>
                                    <p>
                                        <label class="lb">휴대폰번호</label>
                                        <input style="width: 30px;" maxlength="3" type="text" placeholder="010" ng-model="vm.center.phone.sub1" />

                                        <input style="width: 40px; margin-left: 5px;" maxlength="4" type="text" placeholder="1234" ng-model="vm.center.phone.sub2" />

                                        <input style="width: 40px; margin-left: 5px;" maxlength="4" type="text" placeholder="5678" ng-model="vm.center.phone.sub3" />
                                    </p>
                                </dd>
                            </dl>
                        </fieldset>
                    </div>
                    <input class="submit" type="submit" value="변경사항 저장" />
                </form>
            </div>
        </div>
    </header>
</div>