<section id="container" class="main">

    <!-- notice -->
    <div class="notice">
        <h2 class="hide">공지사항</h2>
        <p class="info">공지사항이 <b>3</b>건이 있습니다.</p>
        <ul class="lst">
            <li>
                <p class="date">5시간 전</p>
                <p class="subj"><span>&#45;</span>올리고에서 진행하는 트레이너 모집에 참가 해주세요.</p>
                <p class="con">
                    올리고에서 진행하는 트레이너 모집에 참가 해주세요. 올리고에서 진행하는 트레이너 모집에 참가해 주세요.  많은 참여기다립니다.
                </p>
                <p class="img"><img src="img/nitice_sample_img.jpg" /></p>
                <a class="notice_view">내용 보기 +</a>
            </li>
            <li>
                <p class="date">1일전</p>
                <p class="subj"><span>&#45;</span>올리고에서 진행하는 트레이너 모집에 참가 해주세요.</p>
                <p class="con">
                    올리고에서 진행하는 트레이너 모집에 참가 해주세요. 올리고에서 진행하는 트레이너 모집에 참가해 주세요.  많은 참여기다립니다.
                </p>
                <a class="notice_view">내용 보기 +</a>
            </li>
            <li>
                <p class="date">5일전</p>
                <p class="subj"><span>&#45;</span>올리고에서 진행하는 트레이너 모집에 참가 해주세요.</p>
                <p class="con">
                    올리고에서 진행하는 트레이너 모집에 참가 해주세요. 올리고에서 진행하는 트레이너 모집에 참가해 주세요.  많은 참여기다립니다.
                </p>
                <p class="img"><img src="img/nitice_sample_img.jpg" /></p>
                <a class="notice_view">내용 보기 +</a>
            </li>
        </ul>
    </div>

    <!-- main_con -->
    <div class="main_con">

        <!-- 완료 / 예약 / 취소 -->
        <article class="ma_pt_count">
            <div class="comp">
                <h2>PT완료</h2>
                <div><b>{{vm.comp}}</b><span>건</span></div>
            </div>
            <div class="reserv">
                <h2>PT예약</h2>
                <div><b>{{vm.reserve}}</b><span>건</span></div>
            </div>
            <div class="cancel">
                <h2>PT취소</h2>
                <div><b>{{vm.cancel}}</b><span>건</span></div>
            </div>
        </article>

        <!-- 트레이너별 관리회원 -->
        <article class="ma_trainer_mb">
            <h2>트레이너별 관리회원</h2>
            <div class="ex">
                <span class="num"><i></i>회원수</span>
                <span class="comp"><i></i>PT 완료</span>
                <span class="reserv"><i></i>PT 예약</span>
            </div>
            <!--mode:'vertical', //fade
            auto:true,
            minSlides: 4,
            pause:4000,
            pager:true,
            controls:true,
            pagerType:'short'-->

            <!--<ul>
                <li data-ng-repeat="obj in items" data-notify-when-repeat-finished>
                    <div><pt-chart data='{{$index}}' name="{{obj.name}}" num="{{obj.num}}" comp="{{obj.comp}}" reserve="{{obj.reserve}}"></pt-chart></div>
                        &lt;!&ndash;<div>{{obj.num}}</div>
                        <div>{{obj.comp}}</div>
                        <div>{{obj.reserve}}</div>&ndash;&gt;
                        &lt;!&ndash;<p class="num"><i></i><span>{{obj.num}}</span></p>&lt;!&ndash; 회원수 &ndash;&gt;
                        <p class="comp"><i></i><span>{{obj.comp}}</span></p>&lt;!&ndash; PT 완료 &ndash;&gt;
                        <p class="reserv"><i></i><span>{{obj.reserve}}</span></p>&lt;!&ndash; PT 예약 &ndash;&gt;&ndash;&gt;

                    &lt;!&ndash;<div class="item">
                        <img data-ng-src="http://lorempixel.com/400/200/sports/{{$index + 1}}/" />
                    </div>&ndash;&gt;
                </li>
            </ul>-->

                    <dashboard-pie-chart></dashboard-pie-chart>

            <p class="total"><span>{{vm.total}}</span>명</p>
        </article>

        <!-- PT권 판매통계 -->
        <article class="ma_pt_stats">
            <h2>PT권 판매통계</h2>
            <div class="pt_stats">
                <div class="stats">
                    <p class="ex">
                        <span><i></i>누적판매량</span>
                        <span><i></i>일일판매량</span>
                    </p>
                    <div class="count">
                        <p>
                            <span>Today</span>
                            <b>{{vm.pt_stats.data1}}건</b>
                        </p>
                        <p>
                            <span>이번달누적</span>
                            <b>{{vm.pt_stats.data2}}건</b>
                        </p>
                        <p>
                            <span>전월실적</span>
                            <b>{{vm.pt_stats.data3}}건</b>
                        </p>
                    </div>
                </div>
                <div class="chart">
                    <ul class="tab">
                        <li  ng-click="setDataSet('y')"><a>주</a></li>
                        <li ng-click="setDataSet('c')"><a >월</a></li>
                        <li ng-click="setDataSet('a')"><a >년</a></li>
                    </ul>
                    <div class="con">
                        <!-- 주 -->
                        <div class="chart_box" >
                            <div id="chartdiv"></div>
                        </div>
                        <!-- 월 -->

                        <!-- 년 -->

                    </div>
                </div>
            </div>
        </article>

        <!-- 현재회원수 -->
        <article class="ma_membership">
            <h2>현재회원수</h2>
            <div><b>{{vm.ma_membership}}</b><span>명</span></div>
        </article>

        <!-- 성별 & 연령별 분포도 -->
        <article class="ma_sex_diagram">
            <h2>성별 & 연령별 분포도</h2>
            <div class="sex_diagram">
                <div class="tit_box">
                    <p class="tit">성별</p>
                    <p class="tit">연령별</p>
                </div>
                <div class="sex">
                    <div class="sex_chart">
                        <ul>
                            <li class="man"><span>10%</span></li>
                            <li class="woman"><span>90%</span></li>
                        </ul>
                        <p class="num"><span class="man"></span><span class="woman"></span></p>
                        <p class="ex">
                            <span><i></i>남성</span>
                            <span><i></i>여성</span>
                        </p>
                    </div>
                </div>
                <div class="age">
                    <script type="text/javascript">
                        AmCharts.makeChart("age_chart",
                                {
                                    "type": "pie",
                                    "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                                    "innerRadius": "33%", //원안의 빈 원의값
                                    "labelRadius": -25, //원안의 정보값
                                    "labelText": " [[percents]]%",
                                    "colors": [
                                        "#cddc39",
                                        "#00bfa5",
                                        "#2196f3",
                                        "#29b6f6",
                                        "#ff7043",
                                        "#ffc107",
                                        "#04D215",
                                        "#0D8ECF",
                                        "#0D52D1",
                                        "#2A0CD0",
                                        "#8A0CCF",
                                        "#CD0D74",
                                        "#754DEB",
                                        "#DDDDDD",
                                        "#999999",
                                        "#333333",
                                        "#000000",
                                        "#57032A",
                                        "#CA9726",
                                        "#990000",
                                        "#4B0C25"
                                    ],
                                    "hoverAlpha": 0.5,
                                    "labelTickAlpha": 0,
                                    "marginBottom": 0,
                                    "marginTop": 0,
                                    "outlineAlpha": 1,
                                    "outlineThickness": 5, //원차트사이
                                    "startDuration": 0,
                                    "titleField": "category",
                                    "valueField": "column-1",
                                    "color": "#FFFFFF", //원안정보font color
                                    "fontSize": 14, //원안정보fontsize
                                    "percentPrecision": 0,
                                    "allLabels": [],
                                    "balloon": {},
                                    "legend": {
                                        "enabled": true,
                                        "align": "center",
                                        "color": "#777777",
                                        "fontSize": 13,
                                        "marginLeft": 0,
                                        "marginRight": 0,
                                        "markerLabelGap": 8,
                                        "markerSize": 7,
                                        "markerType": "circle",
                                        "position": "right",
                                        "valueText": "",
                                        "verticalGap": 2
                                    },
                                    "titles": [],
                                    "dataProvider": [
                                        {
                                            "category": "10대",
                                            "column-1": "3"
                                        },
                                        {
                                            "category": "20대",
                                            "column-1": "8"
                                        },
                                        {
                                            "category": "30대",
                                            "column-1": "6"
                                        },
                                        {
                                            "category": "40대",
                                            "column-1": "2"
                                        },
                                        {
                                            "category": "50대",
                                            "column-1": "9"
                                        },
                                        {
                                            "category": "60대",
                                            "column-1": "7"
                                        }
                                    ]
                                }
                        );
                    </script>
                    <div id="age_chart"></div>
                </div>
            </div>
        </article>

        <!-- 연령별 분포도 -->
        <article class="ma_age_diagram">
            <h2>연령별 분포도</h2>
            <div class="age_diagram">
                <dl>
                    <dt>10대</dt>
                    <dd>
                        <p>
                            <b class="tt">남성</b>
                            <span class="bar"></span>
                            <span class="percent">28%</span>
                        </p>
                        <p>
                            <b class="tt">여성</b>
                            <span class="bar"></span>
                            <span class="percent">72%</span>
                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt>20대</dt>
                    <dd>
                        <p>
                            <b class="tt">남성</b>
                            <span class="bar"></span>
                            <span class="percent">64%</span>
                        </p>
                        <p>
                            <b class="tt">여성</b>
                            <span class="bar"></span>
                            <span class="percent">36%</span>
                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt>30대</dt>
                    <dd>
                        <p>
                            <b class="tt">남성</b>
                            <span class="bar"></span>
                            <span class="percent">17%</span>
                        </p>
                        <p>
                            <b class="tt">여성</b>
                            <span class="bar"></span>
                            <span class="percent">83%</span>
                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt>40대</dt>
                    <dd>
                        <p>
                            <b class="tt">남성</b>
                            <span class="bar"></span>
                            <span class="percent">84%</span>
                        </p>
                        <p>
                            <b class="tt">여성</b>
                            <span class="bar"></span>
                            <span class="percent">16%</span>
                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt>50대</dt>
                    <dd>
                        <p>
                            <b class="tt">남성</b>
                            <span class="bar"></span>
                            <span class="percent">69%</span>
                        </p>
                        <p>
                            <b class="tt">여성</b>
                            <span class="bar"></span>
                            <span class="percent">31%</span>
                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt>60대</dt>
                    <dd>
                        <p>
                            <b class="tt">남성</b>
                            <span class="bar"></span>
                            <span class="percent">80%</span>
                        </p>
                        <p>
                            <b class="tt">여성</b>
                            <span class="bar"></span>
                            <span class="percent">20%</span>
                        </p>
                    </dd>
                </dl>
            </div>
        </article>
    </div>

</section>


<!-- 공지사항 레이어 -->
<div class="notice_layer">
    <dl>
        <dt>
            <i>[공지사항]</i>
            <span class="subj">올리고에서 진행하는 트레이너 모집에 참가 해주세요.</span>
            <span class="date">5시간 전</span>
            <a class="close">닫기</a>
        </dt>
        <dd>
            올리고에서 진행하는 트레이너 모집에 참가해주세요. 각 센터에서 모집하는 트레이너 모집에 참가해 주세요.<br />
            회원님들의 많은 참여 기다립니다.<br />
            A씨의 트레이너는 정말 대단한 트레이너 입니다. 각 신청 양식에 맞춰서 간단하게 보내주시면 일주일간의 심사를 거쳐서<br />
            선정 하도록 하겠습니다. A씨의 트레이너는 정말 대단한 트레이너 입니다. 각 신청 양식에 맞춰서 간단하게 보내주시면<br />
            일주일간의 심사를 거쳐서 선정하도록 하겠습니다. A씨의 트레이너는 정말 대단한 트레이너 입니다.<br />
            각 신청 양식에 맞춰서 간단하게 보내주시면 일주일간의 심사를 거쳐서 선정하도록 하겠습니다.<br />
            올리고에서 진행하는 트레이너 모집에 참가해주세요. 각 센터에서 모집하는 트레이너 모집에 참가해 주세요.
            올리고에서 진행하는 트레이너 모집에 참가해주세요. 각 센터에서 모집하는 트레이너 모집에 참가해 주세요.<br />
            회원님들의 많은 참여 기다립니다.<br />
            A씨의 트레이너는 정말 대단한 트레이너 입니다. 각 신청 양식에 맞춰서 간단하게 보내주시면 일주일간의 심사를 거쳐서<br />
            선정 하도록 하겠습니다. A씨의 트레이너는 정말 대단한 트레이너 입니다. 각 신청 양식에 맞춰서 간단하게 보내주시면<br />
            일주일간의 심사를 거쳐서 선정하도록 하겠습니다. A씨의 트레이너는 정말 대단한 트레이너 입니다.<br />
            각 신청 양식에 맞춰서 간단하게 보내주시면 일주일간의 심사를 거쳐서 선정하도록 하겠습니다.<br />
            올리고에서 진행하는 트레이너 모집에 참가해주세요. 각 센터에서 모집하는 트레이너 모집에 참가해 주세요.
            올리고에서 진행하는 트레이너 모집에 참가해주세요. 각 센터에서 모집하는 트레이너 모집에 참가해 주세요.<br />
            회원님들의 많은 참여 기다립니다.<br />
            A씨의 트레이너는 정말 대단한 트레이너 입니다. 각 신청 양식에 맞춰서 간단하게 보내주시면 일주일간의 심사를 거쳐서<br />
            선정 하도록 하겠습니다. A씨의 트레이너는 정말 대단한 트레이너 입니다. 각 신청 양식에 맞춰서 간단하게 보내주시면<br />
            일주일간의 심사를 거쳐서 선정하도록 하겠습니다. A씨의 트레이너는 정말 대단한 트레이너 입니다.<br />
            각 신청 양식에 맞춰서 간단하게 보내주시면 일주일간의 심사를 거쳐서 선정하도록 하겠습니다.<br />
            올리고에서 진행하는 트레이너 모집에 참가해주세요. 각 센터에서 모집하는 트레이너 모집에 참가해 주세요.
        </dd>
    </dl>
</div>
