<div class="thum_box">
    <p class="thum">
        <img src="img/trainer_mb_thum_sample.jpg" />
        <span class="mask"></span>
    </p>
    <p class="name">{{name}}</p>
</div>
<div id="ptchart{{data}}" style="min-width: 310px; height: 80px; margin: 0 auto"></div>